flows/Contact_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Contact_Record_Type</name>
        <label>Contact Record Type?</label>
        <locationX>908</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrimaryClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contact_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_HouseholdName</targetReference>
            </connector>
            <label>PrimaryClient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_update</name>
        <label>Create or update?</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Demographics_And_Monthly_Income_on_Client_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is update?</defaultConnectorLabel>
        <rules>
            <name>Is_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_IsCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Account_field_blank</targetReference>
            </connector>
            <label>Is create?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_field_blank</name>
        <label>Is Account field blank</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_AccountId_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Household_Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is AccountId null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_For_User</name>
        <label>Is Active For User</label>
        <locationX>957</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.ContactAutomationByPass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_or_update</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Check</name>
        <label>User Check</label>
        <locationX>710</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Name</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsCreate</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forT_HouseholdName</name>
        <dataType>String</dataType>
        <expression>INITCAP({!$Record.LastName}) + &quot;, &quot;+ LEFT({!$Record.FirstName}, 1) + &quot; &quot; + &quot;Household&quot;</expression>
    </formulas>
    <interviewLabel>Contact After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Contact After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignRecordIdToReference>varT_HouseholdName</assignRecordIdToReference>
        <connector>
            <targetReference>Update_HouseholdName</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forT_HouseholdName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Household_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record_Type</name>
        <label>Get Contact Record Type</label>
        <locationX>908</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PrimaryClient</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>710</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Household_Record_Type</name>
        <label>Household Record Type</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Household</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_HouseholdName</name>
        <label>Copy 1 of Update HouseholdName</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forT_HouseholdName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HouseholdName</name>
        <label>Update HouseholdName</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varT_HouseholdName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Name</name>
        <label>Update User Name</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>$Record.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>831</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Active_For_User</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.AutomationBypass__c.ContactAutomationByPass__c})</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Demographics_And_Monthly_Income_on_Client_Case</name>
        <label>Update Demographics And Monthly Income on Client Case</label>
        <locationX>908</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Demographics_and_Monthly_Income_on_Intake_from_Contact</targetReference>
        </connector>
        <flowName>Update_Demographics_on_Client_Case</flowName>
        <inputAssignments>
            <name>varR_Contact</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_ContactPrior</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Demographics_and_Monthly_Income_on_Intake_from_Contact</name>
        <label>Update Demographics and Monthly Income on Intake from Contact</label>
        <locationX>908</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Contact_Record_Type</targetReference>
        </connector>
        <flowName>Subflow_Update_Demographics_on_Intake_from_Contact</flowName>
        <inputAssignments>
            <name>varR_Contact</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_ContactPrior</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varT_HouseholdName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
