flows/Course_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <name>Custom_Error_Facilitator_invalid_HUD_ID</name>
        <label>Custom Error Facilitator invalid HUD ID</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_Naming_Convention_for_Classes_within_Course_Series</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Only counselors with HUD IDs should be allowed the role of facilitator.</errorMessage>
            <fieldSelection>Facilitator__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Facilitator_invalid_HUD_ID_0</name>
        <label>Custom Error Facilitator invalid HUD ID</label>
        <locationX>490</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_Parent_Course_Status_to_Canceled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Only counselors with HUD IDs should be allowed the role of facilitator.</errorMessage>
            <fieldSelection>Facilitator__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Child</name>
        <label>Check Child</label>
        <locationX>1326</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Child</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsParent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Records</targetReference>
            </connector>
            <label>Is Child</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_update</name>
        <label>Create or update?</label>
        <locationX>402</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Facilitator_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is update?</defaultConnectorLabel>
        <rules>
            <name>Is_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_IsCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Facilitator</targetReference>
            </connector>
            <label>Is create?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Facilitator</name>
        <label>Facilitator?</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Update_Naming_Convention_for_Classes_within_Course_Series</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HUD_ID_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Facilitator__r.CounselorHUDID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Course</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Facilitator_invalid_HUD_ID</targetReference>
            </connector>
            <label>HUD ID is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Facilitator_0</name>
        <label>Facilitator?</label>
        <locationX>622</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Course_Status_to_Canceled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HUD_ID_is_blank_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Facilitator__r.CounselorHUDID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Facilitator__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Course</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Facilitator_invalid_HUD_ID_0</targetReference>
            </connector>
            <label>HUD ID is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_For_User</name>
        <label>Is Active For User</label>
        <locationX>666</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.CourseAutomationBypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_or_update</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsCreate</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Course After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Records</name>
        <label>Get Child Records</label>
        <locationX>1194</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Parent_EndDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sumoapp__Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sumoapp__Parent__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sumoapp__AdditionalInfo__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_EndDate</name>
        <label>Update Parent EndDate</label>
        <locationX>1194</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sumoapp__Parent__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sumoapp__EndDatetime__c</field>
            <value>
                <elementReference>Get_Child_Records.sumoapp__EndDatetime__c</elementReference>
            </value>
        </inputAssignments>
        <object>sumoapp__AdditionalInfo__c</object>
    </recordUpdates>
    <start>
        <locationX>870</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Active_For_User</targetReference>
        </connector>
        <object>sumoapp__AdditionalInfo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Path_1</name>
            <connector>
                <targetReference>Check_Child</targetReference>
            </connector>
            <label>Scheduled Path 1</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Naming_Convention_for_Classes_within_Course_Series</name>
        <label>Update Naming Convention for Classes within Course Series</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <flowName>Subflow_Update_Naming_Convention_for_Classes_within_Course_Series</flowName>
        <inputAssignments>
            <name>varR_ApptsNotesClasses</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Parent_Course_Status_to_Canceled</name>
        <label>Update Parent Course Status to Canceled</label>
        <locationX>622</locationX>
        <locationY>792</locationY>
        <flowName>Subflow_Update_Parent_Course_Status_to_Canceled</flowName>
        <inputAssignments>
            <name>varR_ApptsNotesClasses</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varR_ApptsNotesClasses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>sumoapp__AdditionalInfo__c</objectType>
    </variables>
</Flow>
