flows/Create_Co_Applicant.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Address</name>
        <label>Assign Address</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoApplicantMailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoApplicantMailingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Co_Applicant_Record</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ActiveMilitary</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ActiveMilitary__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BestTimetoContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Besttimetocontact__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DisabledStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DisabledStatus__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Education</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Education__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EmploymentStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EmploymentStatus__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EnglishProficiency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EnglishProficiency__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ethnicity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ethnicity__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MailingCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MailingCountryCode</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MailingState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MailingStateCode</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferredLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PreferredLanguage__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Race</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Race__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshiptoPrimaryApplicant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RelationshipToPrimaryApplicant__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RuralAreaStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RuralAreaStatus__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Salutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Veteran</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Veteran__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X1stTimeHomeBuyer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>X1stTimeHomeBuyer__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Age</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISBLANK({!CoApplicantBirthdate})), YEAR(TODAY()) - YEAR({!CoApplicantBirthdate}) - IF(MONTH(TODAY()) * 100 + DAY(TODAY()) &lt; MONTH({!CoApplicantBirthdate}) * 100 + DAY({!CoApplicantBirthdate}), 1, 0), 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Co-Applicant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Co-Applicant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Co_Applicant_Record</name>
        <label>Create Co-Applicant Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Primary_Client.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActiveMilitary__c</field>
            <value>
                <elementReference>CoApplicantActiveMilitary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Besttimetocontact__c</field>
            <value>
                <elementReference>CoApplicantBestTimetoContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>CoApplicantBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditScore__c</field>
            <value>
                <elementReference>CoApplicantCreditScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisabledStatus__c</field>
            <value>
                <elementReference>CoApplicantDisabledStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education__c</field>
            <value>
                <elementReference>CoApplicantEducation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>CoApplicantEmailAddress.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmploymentStatus__c</field>
            <value>
                <elementReference>CoApplicantEmploymentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnglishProficiency__c</field>
            <value>
                <elementReference>CoApplicantEnglishProficiency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>CoApplicantEthnicity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CoApplicantFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>CoApplicantGender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CoApplicantLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingAddressLine2__c</field>
            <value>
                <elementReference>CoApplicantAddressLine2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>CoApplicantMailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountryCode</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>CoApplicantMailingZipPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStateCode</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>CoApplicantMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>CoApplicantMiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfDependents__c</field>
            <value>
                <elementReference>CoApplicantNumberofDependents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>CoApplicantPhoneNumber.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferredLanguage__c</field>
            <value>
                <elementReference>CoApplicantPreferredLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Race__c</field>
            <value>
                <elementReference>CoApplicantRace</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationshipToPrimaryApplicant__c</field>
            <value>
                <elementReference>CoApplicantRelationshiptoPrimaryApplicant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RuralAreaStatus__c</field>
            <value>
                <elementReference>CoApplicantRuralAreaStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSN__c</field>
            <value>
                <elementReference>CoApplicantSSN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>CoApplicantSalutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix</field>
            <value>
                <elementReference>CoApplicantSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalMonthlyIncome__c</field>
            <value>
                <elementReference>CoApplicantTotalMonthlyIncome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veteran__c</field>
            <value>
                <elementReference>CoApplicantVeteran</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1stTimeHomeBuyer__c</field>
            <value>
                <elementReference>CoApplicantX1stTimeHomeBuyer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isActive__c</field>
            <value>
                <elementReference>CoApplicantActive</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Primary_Client</name>
        <label>Get Primary Client</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Co_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoApplicant</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Co_Applicant</name>
        <label>Co-Applicant</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Address</targetReference>
        </connector>
        <fields>
            <name>Contact_Information</name>
            <fieldText>Contact Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CoApplicantSalutation</name>
                    <choiceReferences>Salutation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Salutation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantFirstName</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantMiddleName</name>
                    <dataType>String</dataType>
                    <fieldText>Middle Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantLastName</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantSuffix</name>
                    <dataType>String</dataType>
                    <fieldText>Suffix</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantPhoneNumber</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CoApplicantBestTimetoContact</name>
                    <choiceReferences>BestTimetoContact</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Best Time to Contact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantEmailAddress</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CoApplicantPreferredLanguage</name>
                    <choiceReferences>PreferredLanguage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Preferred Language</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CoApplicantActive</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantContactRecordType</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Co-Applicant</stringValue>
                    </defaultValue>
                    <fieldText>Contact Record Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantHouseholdName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Primary_Client.Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Household Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantBirthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantRelationshiptoPrimaryApplicant</name>
                    <choiceReferences>RelationshiptoPrimaryApplicant</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Relationship to Primary Applicant</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Financial_Information</name>
            <fieldText>Financial Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Financial_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CoApplicantSSN</name>
                    <dataType>String</dataType>
                    <fieldText>SSN</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantTotalMonthlyIncome</name>
                    <dataType>Number</dataType>
                    <fieldText>Total Monthly Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>CoApplicantNumberofDependents</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Dependents</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Financial_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CoApplicantEmploymentStatus</name>
                    <choiceReferences>EmploymentStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Employment Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantCreditScore</name>
                    <dataType>Number</dataType>
                    <fieldText>Credit Score</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CoApplicantMailingCountry</name>
                    <choiceReferences>MailingCountry</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Mailing Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantMailingStreet</name>
                    <fieldText>Mailing Street</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantMailingCity</name>
                    <dataType>String</dataType>
                    <fieldText>Mailing City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantMailingState</name>
                    <choiceReferences>MailingState</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Mailing State/Province</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantMailingZipPostalCode</name>
                    <dataType>String</dataType>
                    <fieldText>Mailing Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantAddressLine2</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Demographics_Information</name>
            <fieldText>Demographics Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Demographics_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CoApplicantGender</name>
                    <choiceReferences>Gender</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantRace</name>
                    <choiceReferences>Race</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Race</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantEthnicity</name>
                    <choiceReferences>Ethnicity</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ethnicity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantRuralAreaStatus</name>
                    <choiceReferences>RuralAreaStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rural Area Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantX1stTimeHomeBuyer</name>
                    <choiceReferences>X1stTimeHomeBuyer</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>1st Time Home Buyer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Demographics_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CoApplicantEnglishProficiency</name>
                    <choiceReferences>EnglishProficiency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>English Proficiency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantActiveMilitary</name>
                    <choiceReferences>ActiveMilitary</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Active Military</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantVeteran</name>
                    <choiceReferences>Veteran</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Veteran</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantDisabledStatus</name>
                    <choiceReferences>DisabledStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Disabled Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoApplicantEducation</name>
                    <choiceReferences>Education</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Education</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Client</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactCoApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>CoApplicantMailingCountry</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>recordId</stringValue>
        </value>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>CoApplicantMailingState</elementReference>
        </value>
    </variables>
</Flow>
