flows/Create_New_Credit_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <dynamicChoiceSets>
        <name>Co_Borrower</name>
        <dataType>String</dataType>
        <displayField>CoApplicantName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CoApplicant__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Contact__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CreditBureau</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>cic_credit__Credit_Bureaus__c</picklistField>
        <picklistObject>cic_credit__Credit_Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fraud_Check</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>cic_credit__Fraud_Check__c</picklistField>
        <picklistObject>cic_credit__Credit_Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>cic_credit__Inquiry_Type__c</picklistField>
        <picklistObject>cic_credit__Credit_Application__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create New Credit Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Credit Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Application_Record</name>
        <label>Create Credit Application Record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <faultConnector>
            <targetReference>Create_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ClientCase__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cic_credit__Borrower__c</field>
            <value>
                <elementReference>Retrieve_Primary_Client.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cic_credit__Co_Borrower__c</field>
            <value>
                <elementReference>Co_Borrowers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cic_credit__Credit_Bureaus__c</field>
            <value>
                <elementReference>Credit_Bureaus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cic_credit__Fraud_Check__c</field>
            <value>
                <elementReference>Credit_Bureaus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cic_credit__Inquiry_Type__c</field>
            <value>
                <elementReference>Inquiry_Type</elementReference>
            </value>
        </inputAssignments>
        <object>cic_credit__Credit_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_Client_Case</name>
        <label>Retrieve Client Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Primary_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClientCase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Primary_Client</name>
        <label>Retrieve Primary Client</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Credit_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retrieve_Client_Case.PrimaryClient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Credit_Application</name>
        <label>New Credit Application</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Create_Credit_Application_Record</targetReference>
        </connector>
        <fields>
            <name>Credit_Bureaus</name>
            <choiceReferences>CreditBureau</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Equifax;Experian;Transunion</stringValue>
            </defaultValue>
            <fieldText>Credit Bureaus</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inquiry_Type</name>
            <choiceReferences>InquiryType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Soft</stringValue>
            </defaultValue>
            <fieldText>Inquiry Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Borrower</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Retrieve_Primary_Client.Name</elementReference>
            </defaultValue>
            <fieldText>Borrower</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Co_Borrowers</name>
            <choiceReferences>Co_Borrower</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Co-Borrower</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_Client_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <flowName>LoggerFlow</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>Flow: Create New Credit Application</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>recordId</stringValue>
        </value>
    </variables>
</Flow>
