flows/Create_Client_Case_Task_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Case_Type_Client_Case</name>
        <label>Set Case Type Client Case</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varT_CaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.CaseType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_RecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Type_Intake_Request</name>
        <label>Set Case Type Intake Request</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varT_CaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_IntakeRequest.CaseType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_RecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_IntakeRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Client_Case_Task</name>
        <label>Set Client Case Task</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.ClientCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_RecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.Display_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Case_Guidance_Steps.OrderNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.StepName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Case_Guidance_Steps.StepName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.StepDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Case_Guidance_Steps.StepDetails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Case_Guidance_Steps.StepName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ClientCaseTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Case_Guidance_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Client_Case_Task1</name>
        <label>Set Client Case Task</label>
        <locationX>666</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_RecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.Display_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Case_Guidance_Steps.OrderNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.StepName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Case_Guidance_Steps.StepName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.StepDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Case_Guidance_Steps.StepDetails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Case_Guidance_Steps.StepName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ClientCaseTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ClientCaseTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Case_Guidance_Steps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Guidance_Record_found</name>
        <label>Case Guidance Record found?</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Case_Guidance_Template_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Guidance_Template_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Guidance_Step_Records</targetReference>
            </connector>
            <label>Found Case Guidance Template Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Guidance_Step_Records_found</name>
        <label>Case Guidance Step Records found</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Case_Guidance_Step_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Guidance_Step_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Case_Guidance_Steps</targetReference>
            </connector>
            <label>Found Case Guidance Step Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_Record_found</name>
        <label>Case Type Record found?</label>
        <locationX>1106</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Case_Type_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Guidance_Template_Record</targetReference>
            </connector>
            <label>Found Case Type Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Case_or_Intake_Request</name>
        <label>Client Case or Intake Request?</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Type_Client_Case</targetReference>
            </connector>
            <label>Client Case</label>
        </rules>
        <rules>
            <name>Intake_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_IntakeRequest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Type_Intake_Request</targetReference>
            </connector>
            <label>Intake Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Case_or_Intake_Request1</name>
        <label>Client Case or Intake Request?</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Case_Guidance_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Case1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Client_Case_Task</targetReference>
            </connector>
            <label>Client Case</label>
        </rules>
        <rules>
            <name>Intake_Request1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_IntakeRequest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Client_Case_Task1</targetReference>
            </connector>
            <label>Intake Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Case_Task_Records_Exists_for_Creation</name>
        <label>Client Case Task Records Exists for Creation</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Case_Task_Record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCaseTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Client_Case_Tasks</targetReference>
            </connector>
            <label>Client Case Task Record exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Client Case Task Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Create Client Case Task Records</label>
    <loops>
        <name>Loop_over_Case_Guidance_Steps</name>
        <label>Loop over Case Guidance Steps</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Case_Guidance_Step_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Client_Case_or_Intake_Request1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Client_Case_Task_Records_Exists_for_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Client_Case_Tasks</name>
        <label>Create Client Case Tasks</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <faultConnector>
            <targetReference>Create_Log</targetReference>
        </faultConnector>
        <inputReference>varR_ClientCaseTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Guidance_Step_Records</name>
        <label>Get Case Guidance Step Records</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Guidance_Step_Records_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseGuidanceTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Guidance_Template_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseGuidanceStep__c</object>
        <sortField>OrderNumber__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Guidance_Template_Record</name>
        <label>Get Case Guidance Template Record</label>
        <locationX>842</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Guidance_Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Type.CaseGuidanceTemplate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseGuidanceTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Type</name>
        <label>Get Case Type</label>
        <locationX>1106</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Type_Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_CaseType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Client_Case_or_Intake_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <flowName>LoggerFlow</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>Subflow: Create Client Case Task Records</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varR_ClientCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientCase__c</objectType>
    </variables>
    <variables>
        <name>varR_ClientCaseTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientCaseTask__c</objectType>
    </variables>
    <variables>
        <name>varR_ClientCaseTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientCaseTask__c</objectType>
    </variables>
    <variables>
        <name>varR_IntakeRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Intake__c</objectType>
    </variables>
    <variables>
        <name>varT_CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
