flows/IntakeClientCaseConversion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_If_Yes</name>
        <label>Check If Yes</label>
        <locationX>1238</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Areyousureyouwanttoconvert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Case_RecordType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Prospect</name>
        <label>Is Prospect</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_Case.ContactType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Primary_Client_RT</targetReference>
            </connector>
            <label>Prospect</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IntakeClientCaseConversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IntakeClientCaseConversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ClientCase</name>
        <label>Create Client_Case</label>
        <locationX>50</locationX>
        <locationY>1022</locationY>
        <connector>
            <targetReference>Update_Intake_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowErrors</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AMIAtStartOfClientCase__c</field>
            <value>
                <elementReference>Get_Intake_Case.AMIAtStartOfClientCase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActiveMilitary__c</field>
            <value>
                <elementReference>Get_Intake_Case.ActiveMilitary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__City__s</field>
            <value>
                <elementReference>Get_Intake_Case.Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__CountryCode__s</field>
            <value>
                <elementReference>Get_Intake_Case.Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__GeocodeAccuracy__s</field>
            <value>
                <elementReference>Get_Intake_Case.Address__GeocodeAccuracy__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Latitude__s</field>
            <value>
                <elementReference>Get_Intake_Case.Address__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Longitude__s</field>
            <value>
                <elementReference>Get_Intake_Case.Address__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__PostalCode__s</field>
            <value>
                <elementReference>Get_Intake_Case.Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__StateCode__s</field>
            <value>
                <elementReference>Get_Intake_Case.Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Street__s</field>
            <value>
                <elementReference>Get_Intake_Case.Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>Get_Intake_Case.PrimaryClient__r.Age__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AreaMedianIncome__c</field>
            <value>
                <elementReference>Get_Intake_Case.AreaMedianIncome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseSubType__c</field>
            <value>
                <elementReference>Get_Intake_Case.CaseSubType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseType__c</field>
            <value>
                <elementReference>Get_Intake_Case.CaseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChoseNottoProvideIncome__c</field>
            <value>
                <elementReference>Get_Intake_Case.ChoseNottoProvideIncome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientCaseClosedDate__c</field>
            <value>
                <elementReference>Get_Intake_Case.ClientCaseClosedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientCaseStatus__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientHUDAssistance__c</field>
            <value>
                <elementReference>Get_Intake_Case.ClientHUDAssistance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ColoniasResidence__c</field>
            <value>
                <elementReference>Get_Intake_Case.ColoniasResidence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CounselingTermination__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>Get_Intake_Case.County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditScore__c</field>
            <value>
                <elementReference>Get_Intake_Case.CreditScore__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentResidence__c</field>
            <value>
                <elementReference>Get_Intake_Case.CurrentResidence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisabledStatus__c</field>
            <value>
                <elementReference>Get_Intake_Case.DisabledStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education__c</field>
            <value>
                <elementReference>Get_Intake_Case.Education__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmploymentStatus__c</field>
            <value>
                <elementReference>Get_Intake_Case.Employment_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnglishProficiency__c</field>
            <value>
                <elementReference>Get_Intake_Case.EnglishProficiency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>Get_Intake_Case.Ethnicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FarmWorker__c</field>
            <value>
                <elementReference>Get_Intake_Case.FarmWorker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Capability_Goals__c</field>
            <value>
                <elementReference>Get_Intake_Case.Financial_Capability_Goals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funder__c</field>
            <value>
                <elementReference>Get_Intake_Case.Funder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Get_Intake_Case.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseholdMonthlyIncome1__c</field>
            <value>
                <elementReference>Get_Intake_Case.HouseholdMonthlyIncome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseholdOfAMI__c</field>
            <value>
                <elementReference>Get_Intake_Case.HouseholdOfAMI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseholdSize__c</field>
            <value>
                <elementReference>Get_Intake_Case.HouseholdSize__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseholdType__c</field>
            <value>
                <elementReference>Get_Intake_Case.HouseholdType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>Get_Intake_Case.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IntakeCase__c</field>
            <value>
                <elementReference>Get_Intake_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IntakeDate__c</field>
            <value>
                <elementReference>Get_Intake_Case.IntakeDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingAddressLine2__c</field>
            <value>
                <elementReference>Get_Intake_Case.AddressLine2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>Get_Intake_Case.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MarketingCommunicationsOptOut__c</field>
            <value>
                <elementReference>Get_Intake_Case.PrimaryClient__r.MarketingCommunicationsOptOut__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MetropolitanStatisticalArea__c</field>
            <value>
                <elementReference>Get_Intake_Case.MetropolitanStatisticalArea__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonthlyCreditorsDebt__c</field>
            <value>
                <elementReference>Get_Intake_Case.MonthlyCreditorsDebt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonthlyIncome__c</field>
            <value>
                <elementReference>Get_Intake_Case.MonthlyIncome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberofDependents__c</field>
            <value>
                <elementReference>Get_Intake_Case.NumberofDependents__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OccupationStartDate__c</field>
            <value>
                <elementReference>Get_Intake_Case.OccupationStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>Get_Intake_Case.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreCounselingAnnualHouseholdIncome__c</field>
            <value>
                <elementReference>Get_Intake_Case.AnnualHouseholdIncome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreCounselingCreditScore__c</field>
            <value>
                <elementReference>Get_Intake_Case.PreCounselingCreditScore__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreCounselingHouseholdDebt__c</field>
            <value>
                <elementReference>Get_Intake_Case.PreCounselingHouseholdDebt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreCounselingResidenceType__c</field>
            <value>
                <elementReference>Get_Intake_Case.PreCounselingResidenceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreCounselingSavings__c</field>
            <value>
                <elementReference>Get_Intake_Case.PreCounselingSavings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryClient__c</field>
            <value>
                <elementReference>Get_Intake_Case.PrimaryClient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose__c</field>
            <value>
                <elementReference>Get_Intake_Case.Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Race__c</field>
            <value>
                <elementReference>Get_Intake_Case.Race__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Client_Case_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferralSource__c</field>
            <value>
                <elementReference>Get_Intake_Case.ReferralSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RuralAreaStatus__c</field>
            <value>
                <elementReference>Get_Intake_Case.RuralAreaStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Town__c</field>
            <value>
                <elementReference>Get_Intake_Case.Town__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veteran__c</field>
            <value>
                <elementReference>Get_Intake_Case.Veteran__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1stTimeHomeBuyer__c</field>
            <value>
                <elementReference>Get_Intake_Case.X1stTimeHomeBuyer__c</elementReference>
            </value>
        </inputAssignments>
        <object>ClientCase__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Appointments</name>
        <label>Get All Appointments</label>
        <locationX>50</locationX>
        <locationY>1562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_All_Appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_case</name>
        <label>Get Client case</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CaseTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IntakeCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClientCase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Case_RecordType</name>
        <label>Get Client Case RecordType</label>
        <locationX>50</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ClientCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Case.CaseType__r.ClientCaseRecordType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Primary_Client_RT</name>
        <label>Get Contact Primary Client RT</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PrimaryClient</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake_Case</name>
        <label>Get Intake Case</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Prospect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Appointments</name>
        <label>Update All Appointments</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Update_CoApplicant</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowErrors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Client_case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CaseTasks</name>
        <label>Update CaseTasks</label>
        <locationX>50</locationX>
        <locationY>1346</locationY>
        <connector>
            <targetReference>Update_Cloud_Documents</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowErrors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientCase__c</field>
            <value>
                <elementReference>Get_Client_case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ClientCaseTask__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cloud_Documents</name>
        <label>Update Cloud Documents</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Get_All_Appointments</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowErrors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IntakeRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientCase__c</field>
            <value>
                <elementReference>Get_Client_case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CloudDocument__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CoApplicant</name>
        <label>Update CoApplicant</label>
        <locationX>50</locationX>
        <locationY>1778</locationY>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowErrors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IntakeRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientCase__c</field>
            <value>
                <elementReference>Get_Client_case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CoApplicant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_RecordType</name>
        <label>Update Contact RecordType</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowErrors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Case.PrimaryClient__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Contact_Primary_Client_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_Case</name>
        <label>Update Intake Case</label>
        <locationX>50</locationX>
        <locationY>1130</locationY>
        <connector>
            <targetReference>Get_Client_case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowErrors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open Case</stringValue>
            </value>
        </inputAssignments>
        <object>Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Referral</name>
        <label>Update Referral</label>
        <locationX>50</locationX>
        <locationY>1994</locationY>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowErrors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IntakeRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientCase__c</field>
            <value>
                <elementReference>Get_Client_case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>50</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Update_Referral</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ShowErrors</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Client_case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1238</locationX>
        <locationY>698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_If_Yes</targetReference>
        </connector>
        <fields>
            <name>Areyousureyouwanttoconvert</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to convert to Client Case ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowErrors</name>
        <label>ShowErrors</label>
        <locationX>578</locationX>
        <locationY>1994</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errors</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(205, 24, 24);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(205, 24, 24);&quot;&gt;Please Contact Your Agency Admin!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successScreen</name>
        <label>successScreen</label>
        <locationX>50</locationX>
        <locationY>2102</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccesfullMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(9, 140, 57);&quot;&gt;Successfully Converted Intake Request to Client Case !&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!Get_Client_case.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;{!Get_Client_case.ClientCaseName__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intake_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
