flows/Record_Trigger_Event_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Event</name>
        <label>Assign Event</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Col_Events</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Events</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_total_Durations_to_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_1</name>
        <label>Assign Event 1</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Col_Events</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Event1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_total_Durations_to_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_total_Durations</name>
        <label>Set total Durations</label>
        <locationX>402</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>Durations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Events.AppointmentDuration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_total_Durations_to_0</name>
        <label>Set total Durations to 0</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>Durations</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Activity_Type</name>
        <label>Check Activity Type</label>
        <locationX>314</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Update_Related_Client_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LatestActivityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Client_Case3</targetReference>
            </connector>
            <label>Appointment?</label>
        </rules>
        <rules>
            <name>Case_Management_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LatestActivityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Management Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Client_Case2</targetReference>
            </connector>
            <label>Case Management Note?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Case_record_type</name>
        <label>Client Case record type?</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Get_Event1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Financial_Capability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FinancialCapabilityCounseling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Events</targetReference>
            </connector>
            <label>Financial Capability</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Type</name>
        <label>Event Type</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Update_Counsel_Session</targetReference>
            </connector>
            <label>Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_For_User</name>
        <label>Is Active For User</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.EventAutomationBypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Type</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_HUD_Activity_Blank</name>
        <label>Is HUD Activity Blank?</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Client_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HUDActivityType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HUD_Activity</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LatestActivityType</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Latest_Events.StartDateTime}), IF(ISNULL({!Get_Latest_Note.StartDatetime__c}), &apos;&apos;, &apos;Case Management Note&apos;)
,IF(ISNULL({!Get_Latest_Note.StartDatetime__c}), &apos;Appointment&apos;, IF({!Get_Latest_Events.StartDateTime} &gt; {!Get_Latest_Note.StartDatetime__c}, &apos;Appointment&apos;, &apos;Case Management Note&apos;)))</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Event After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Event After Save</label>
    <loops>
        <name>Loop_Events</name>
        <label>Loop Events</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <collectionReference>Col_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_total_Durations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Client_Case</name>
        <label>Client Case</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_Case_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClientCase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event1</name>
        <label>Get Events</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Event_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Purpose__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not HUD-Reportable</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AppointmentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Events</name>
        <label>Get Latest Events</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AppointmentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Note</name>
        <label>Get Latest Note</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Activity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CounselorNote__c</object>
        <sortField>StartDatetime__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_HUD_Activity</name>
        <label>Update HUD Activity</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Client_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>HUDActivityType__c</field>
            <value>
                <stringValue>Not Billed to HUD</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Client_Case</name>
        <label>Update Related Client Case</label>
        <locationX>578</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalCounselingSessionDuration__c</field>
            <value>
                <elementReference>Durations</elementReference>
            </value>
        </inputAssignments>
        <object>ClientCase__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Last Event Date/Last Activity Type</description>
        <name>Update_Related_Client_Case2</name>
        <label>Update Related Client Case</label>
        <locationX>314</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastActivityType__c</field>
            <value>
                <stringValue>Case Management Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastEventDate__c</field>
            <value>
                <elementReference>Get_Latest_Note.StartDatetime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalCounselingSessionDuration__c</field>
            <value>
                <elementReference>Durations</elementReference>
            </value>
        </inputAssignments>
        <object>ClientCase__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Last Event Date/Last Activity Type</description>
        <name>Update_Related_Client_Case3</name>
        <label>Update Related Client Case</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastActivityType__c</field>
            <value>
                <stringValue>Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastEventDate__c</field>
            <value>
                <elementReference>Get_Latest_Events.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalCounselingSessionDuration__c</field>
            <value>
                <elementReference>Durations</elementReference>
            </value>
        </inputAssignments>
        <object>ClientCase__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Active_For_User</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Update_Counsel_Session</name>
        <label>Subflow: Update Counsel Session</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Is_HUD_Activity_Blank</targetReference>
        </connector>
        <flowName>Subflow_Update_Counsel_Session</flowName>
        <inputAssignments>
            <name>varEvent</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Col_Events</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>Durations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
