flows/Record_Trigger_Intake_Requests_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Intake_Portal_Email_Comfirmation</name>
        <label>Send Intake Portal Email Comfirmation</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>Intake__c.PortalIntakeEmailConfirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Demographics_and_Monthly_Income_on_Intake_from_Contact1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Intake__c.PortalIntakeEmailConfirmation</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Create_or_update</name>
        <label>Create or update?</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Type_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is update?</defaultConnectorLabel>
        <rules>
            <name>Is_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_IsCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_Primary_Monthly_Income</targetReference>
            </connector>
            <label>Is create?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_For_User</name>
        <label>Is Active For User</label>
        <locationX>666</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.IntakeAutomationBypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_or_update</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Type_Changed</name>
        <label>Is Case Type Changed</label>
        <locationX>622</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Demographics_and_Monthly_Income_on_Contact_From_Intake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseType_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseType__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Client_Case_Task</targetReference>
            </connector>
            <label>CaseType Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Conformation</name>
        <label>Send Email Conformation</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Demographics_and_Monthly_Income_on_Intake_from_Contact1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Portal_Intake_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PortalIntake__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Intake_Portal_Email_Comfirmation</targetReference>
            </connector>
            <label>Portal Intake Checked?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsCreate</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Intake Request After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Intake After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Existing_Client_Case_Task</name>
        <label>Delete Existing Client Case Task</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_Client_Case_Task_Records_On_case_Type_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ClientCaseTask__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Conformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PrimaryClient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Intake_Primary_Monthly_Income</name>
        <label>Update Intake Primary Monthly Income</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>MonthlyIncome__c</field>
            <value>
                <elementReference>$Record.PrimaryClient__r.TotalMonthlyIncome__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Active_For_User</targetReference>
        </connector>
        <object>Intake__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Create Client Case Task Records using Case Guidance Template</description>
        <name>Create_Client_Case_Task_Records</name>
        <label>Create Client Case Task Records</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <flowName>Create_Client_Case_Task_Records</flowName>
        <inputAssignments>
            <name>varR_IntakeRequest</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create Client Case Task Records using Case Guidance Template</description>
        <name>Create_Client_Case_Task_Records_On_case_Type_Change</name>
        <label>Create Client Case Task Records On case Type Change</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Demographics_and_Monthly_Income_on_Contact_From_Intake</targetReference>
        </connector>
        <flowName>Create_Client_Case_Task_Records</flowName>
        <inputAssignments>
            <name>varR_IntakeRequest</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Demographics_and_Monthly_Income_on_Contact_From_Intake</name>
        <label>Update Demographics and Monthly Income on Contact From Intake</label>
        <locationX>622</locationX>
        <locationY>947</locationY>
        <flowName>Subflow_Update_Demographics_on_Contact_From_Intake</flowName>
        <inputAssignments>
            <name>VarR_IntakeCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarR_IntakeCasePrior</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Demographics_and_Monthly_Income_on_Intake_from_Contact1</name>
        <label>Update Demographics and Monthly Income on Intake from Contact1</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_Client_Case_Task_Records</targetReference>
        </connector>
        <flowName>Subflow_Update_Demographics_on_Intake_from_Contact</flowName>
        <inputAssignments>
            <name>varR_Contact</name>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
