flows/Record_Trigger_Client_Case_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Assignment_Email</name>
        <label>Send Assignment Email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>ClientCase__c.ClientCaseAssignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClientCase__c.ClientCaseAssignment</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Reassignment_Email</name>
        <label>Send Reassignment Email</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>ClientCase__c.ClientCaseReassignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClientCase__c.ClientCaseReassignment</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Create_or_update</name>
        <label>Create or update?</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Demographics_and_Monthly_Income_on_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is update?</defaultConnectorLabel>
        <rules>
            <name>Is_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_IsCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Assignment_Email</targetReference>
            </connector>
            <label>Is create?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Owner_Change</name>
        <label>Did Owner Change</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No change in Owner</defaultConnectorLabel>
        <rules>
            <name>Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Reassignment_Email</targetReference>
            </connector>
            <label>Owner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_For_User</name>
        <label>Is Active For User</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.ClientCaseAutomationBypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_or_update</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsCreate</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Client Case After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Client Case After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Active_For_User</targetReference>
        </connector>
        <object>ClientCase__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Demographics_and_Monthly_Income_on_Contact</name>
        <label>Update Demographics and Monthly Income on Contact</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Did_Owner_Change</targetReference>
        </connector>
        <flowName>Update_Demographics_on_Contact</flowName>
        <inputAssignments>
            <name>varR_ClientCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_ClientCasePrior</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varR_ClientCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ClientCase__c</objectType>
    </variables>
    <variables>
        <name>varR_ClientCasePrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ClientCase__c</objectType>
    </variables>
</Flow>
