flows/Record_Trigger_Client_Case_Before_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Data</name>
        <label>Assign Data</label>
        <locationX>116</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.MonthlyIncome__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HouseholdMonthlyIncome1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AreaMedianIncome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chose not to respond</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HouseholdOfAMI__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DateAMILastCalculated__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MetropolitanStatisticalArea__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Formal_Partnering_Org_Provided_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Service_Fields</name>
        <label>Clear Service Fields</label>
        <locationX>116</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.ServiceProvidedbyFormalPartnerOrg__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PCODEPartnerOrgProvidedService__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CounselingAndEduHoursByOtherAgency__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>get_Case_Type_Record_using_Client_Case_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Hud_Purpose</name>
        <label>Copy 1 of Set Hud Purpose</label>
        <locationX>314</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>$Record.Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseType__r.HUDPurpose__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Case_Status_check_for_Post_Counseling</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Type_on_Client_Case_record</name>
        <label>Set Case Type on Client Case record</label>
        <locationX>116</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.CaseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case_Type_Record_using_Client_Case_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hud_Purpose</name>
        <label>Set Hud Purpose</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseType__r.HUDPurpose__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>Custom_Error_Case_Resolution</name>
        <label>Custom Error - Case Resolution</label>
        <locationX>314</locationX>
        <locationY>2219</locationY>
        <customErrorMessages>
            <errorMessage>Complete this field.</errorMessage>
            <fieldSelection>CaseResolution__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
        <customErrorMessages>
            <errorMessage>Complete this field.</errorMessage>
            <fieldSelection>CaseResolutionDate__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Post_Counseling_Fields</name>
        <label>Custom Error - Post-Counseling Fields</label>
        <locationX>314</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Client_Case_Status</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Complete this field.</errorMessage>
            <fieldSelection>PostCounselingResidenceType__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
        <customErrorMessages>
            <errorMessage>Complete this field.</errorMessage>
            <fieldSelection>PostCounselingAnnualHouseholdIncome__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
        <customErrorMessages>
            <errorMessage>Complete this field.</errorMessage>
            <fieldSelection>PreCounselingResidenceType__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
        <customErrorMessages>
            <errorMessage>Complete this field.</errorMessage>
            <fieldSelection>PreCounselingAnnualHouseholdIncome__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Case_Type_Update</name>
        <label>Case Type Update?</label>
        <locationX>446</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Client_Case_Status_check_for_Post_Counseling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseType__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CaseType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Hud_Purpose</targetReference>
            </connector>
            <label>Yes Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Case_Type_Record_Exists</name>
        <label>Check If Case Type Record Exists</label>
        <locationX>248</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Create_or_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Case_Type_Record_using_Client_Case_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Type_on_Client_Case_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chose_Not_to_Provide_Income</name>
        <label>Chose Not to Provide Income</label>
        <locationX>248</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Formal_Partnering_Org_Provided_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChoseNottoProvideIncome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Data</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Case_Status</name>
        <label>Client Case Status ?</label>
        <locationX>446</locationX>
        <locationY>2111</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close_Servicec_Completed</name>
            <conditionLogic>(1 OR 4 ) AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClientCaseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseResolutionDate__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseResolution__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClientCaseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Incomplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Case_Resolution</targetReference>
            </connector>
            <label>Close - Servicec Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Case_Status_check_for_Post_Counseling</name>
        <label>Client Case Status check for Post-Counseling</label>
        <locationX>446</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Client_Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Completed_Incomplete</name>
            <conditionLogic>(1 AND 4 ) AND ( (2 OR 3 OR 5 OR 6 ) AND 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClientCaseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostCounselingAnnualHouseholdIncome__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostCounselingResidenceType__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseType__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Capability Counseling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreCounselingResidenceType__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreCounselingAnnualHouseholdIncome__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Post_Counseling_Fields</targetReference>
            </connector>
            <label>Closed - Completed/Incomplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_update</name>
        <label>Create or update?</label>
        <locationX>248</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Case_Type_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is update?</defaultConnectorLabel>
        <rules>
            <name>Is_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_IsCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hud_Purpose</targetReference>
            </connector>
            <label>Is create?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Formal_Partnering_Org_Provided_Service</name>
        <label>Formal Partnering Org Provided Service</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>get_Case_Type_Record_using_Client_Case_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FormalPartneringOrgProvidedService__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Service_Fields</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_For_User</name>
        <label>Is Active For User</label>
        <locationX>545</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.ClientCaseAutomationBypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chose_Not_to_Provide_Income</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsCreate</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Client Case Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Client Case Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Case_Type_Record_using_Client_Case_Record_Type</name>
        <label>get Case Type Record using Client Case Record Type</label>
        <locationX>248</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Case_Type_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Active_For_User</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.AutomationBypass__c.ClientCaseAutomationBypass__c})</filterFormula>
        <object>ClientCase__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_ClientCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ClientCase__c</objectType>
    </variables>
    <variables>
        <name>varR_ClientCasePrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ClientCase__c</objectType>
    </variables>
</Flow>
