flows/Record_Trigger_Counselor_Note_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Activity_Type</name>
        <label>Check Activity Type</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LatestActivityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Client_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Appointment?</label>
        </rules>
        <rules>
            <name>Case_Management_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LatestActivityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Management Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Client_Case2</targetReference>
            </connector>
            <label>Case Management Note?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LatestActivityType</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Latest_Appointment.StartDateTime}), IF(ISNULL({!Get_Latest_Case_Management_Note.StartDatetime__c}), &apos;&apos;, &apos;Case Management Note&apos;)
,IF(ISNULL({!Get_Latest_Case_Management_Note.StartDatetime__c}), &apos;Appointment&apos;, IF({!Get_Latest_Appointment.StartDateTime} &gt; {!Get_Latest_Case_Management_Note.StartDatetime__c}, &apos;Appointment&apos;, &apos;Case Management Note&apos;)))</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Counselor Note After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Counselor Note After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Latest_Appointment</name>
        <label>Get Latest Appointment</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Activity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ClientCase__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AppointmentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Case_Management_Note</name>
        <label>Get Latest Case Management Note</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ClientCase__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CounselorNote__c</object>
        <sortField>StartDatetime__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Client_Case</name>
        <label>Update Related Client Case</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ClientCase__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastActivityType__c</field>
            <value>
                <stringValue>Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastEventDate__c</field>
            <value>
                <elementReference>Get_Latest_Appointment.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ClientCase__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Client_Case2</name>
        <label>Update Related Client Case</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ClientCase__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastActivityType__c</field>
            <value>
                <stringValue>Case Management Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastEventDate__c</field>
            <value>
                <elementReference>Get_Latest_Case_Management_Note.StartDatetime__c</elementReference>
            </value>
        </inputAssignments>
        <object>ClientCase__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Latest_Case_Management_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientCase__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CounselorNote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AppoitmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
