flows/Record_Trigger_Credit_Score_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Count_Credit_Score_Count</name>
        <label>Count Credit Score Count</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>VarN_CreditScoreCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Credit_Scores</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Credit_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Data_Client_Case</name>
        <label>Set Data Client Case</label>
        <locationX>50</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>Rec_ClientCase.CreditScore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_CreditScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rec_ClientCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cic_credit__Credit_Report__r.ClientCase__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rec_ClientCase.RankPercentile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Credit_Scores_0.cic_credit__Rank_Percentile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rec_ClientCase.CreditScoreDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Credit_Scores_0.cic_credit__Score_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Client_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Data_Client_Case_0</name>
        <label>Set Data Client Case</label>
        <locationX>490</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>Rec_ClientCase.CreditScore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_CreditScore2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rec_ClientCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cic_credit__Credit_Report__r.ClientCase__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rec_ClientCase.RankPercentile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credit_Score.cic_credit__Rank_Percentile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rec_ClientCase.CreditScoreDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credit_Score.cic_credit__Score_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Credit_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Data_Loop_Count</name>
        <label>Set Data Loop Count</label>
        <locationX>534</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Score_Record_Number_0</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Credit_Score</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Credit Score</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Credit_Scores</collectionReference>
        <connector>
            <targetReference>Credit_Score_Record_Number</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>cic_credit__Score__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Credit_Score_Record_Number</name>
        <label>Credit Score Record Number?</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarN_CreditScoreCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Scores_0</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarN_CreditScoreCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Scores_0</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarN_CreditScoreCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Credit_Score</targetReference>
            </connector>
            <label>3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Score_Record_Number_0</name>
        <label>Credit Score Record Number?</label>
        <locationX>534</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Loop_Credit_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Credit_Score</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Data_Client_Case_0</targetReference>
            </connector>
            <label>2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Scores_Record_Check</name>
        <label>Credit Scores Record Check</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Scores</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Credit_Score_Count</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_For_User</name>
        <label>Is Active For User</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.CreditScoreAutomationBypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Report</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forN_CreditScore</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Get_Credit_Scores_0.cic_credit__Score__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forN_CreditScore2</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Loop_Credit_Score.cic_credit__Score__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Record-Trigger: Credit Score After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Credit Score After Save</label>
    <loops>
        <name>Loop_Credit_Score</name>
        <label>Loop Credit Score</label>
        <locationX>226</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_Credit_Scores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Data_Loop_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Client_Case_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Credit_Report</name>
        <label>Get Credit Report</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Scores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cic_credit__Credit_Report__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cic_credit__Credit_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Scores</name>
        <label>Get Credit Scores</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credit_Scores_Record_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cic_credit__Credit_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Report.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cic_credit__Credit_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Scores_0</name>
        <label>Get Credit Scores</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Data_Client_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cic_credit__Credit_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Report.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cic_credit__Credit_Score__c</object>
        <sortField>cic_credit__Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Case</name>
        <label>Update Client Case</label>
        <locationX>50</locationX>
        <locationY>2327</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Log</targetReference>
        </faultConnector>
        <inputReference>Rec_ClientCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_Case_0</name>
        <label>Update Client Case</label>
        <locationX>226</locationX>
        <locationY>1679</locationY>
        <faultConnector>
            <targetReference>Create_Log</targetReference>
        </faultConnector>
        <inputReference>Rec_ClientCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Active_For_User</targetReference>
        </connector>
        <object>cic_credit__Credit_Score__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Log</name>
        <label>Create_Log</label>
        <locationX>490</locationX>
        <locationY>1787</locationY>
        <flowName>LoggerFlow</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>Record-Trigger: Credit Score After Save</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Rec_ClientCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientCase__c</objectType>
    </variables>
    <variables>
        <name>VarN_CreditScoreCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
