flows/Subflow_Update_Naming_Convention_for_Classes_within_Course_Series.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_ApptsNotesClasses_Naming_Convention</name>
        <label>Set ApptsNotesClasses Naming Convention</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varN_LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ApptsNotesClassesUpdate.sumoapp__EventName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_SetNamingConvention</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ApptsNotesClassesUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_ApptsNotesClasses.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ApptsNoteClassesToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ApptsNotesClassesUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_ApptsNotesClasses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ApptsNotesClasses_Records_Count</name>
        <label>Set ApptsNotesClasses Records Count</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varN_RecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_ApptsNotesClasses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_ApptsNotesClasses</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_ApptsNotesClasses</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort ApptsNotesClasses</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_ApptsNotesClasses</collectionReference>
        <connector>
            <targetReference>Loop_Through_ApptsNotesClasses</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>sumoapp__StartDatetime__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Appointments_Notes_Classes_Record_found</name>
        <label>Appointments, Notes &amp; Classes Record found?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ApptsNotesClasses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ApptsNotesClasses_Records_Count</targetReference>
            </connector>
            <label>Found Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_SetNamingConvention</name>
        <dataType>String</dataType>
        <expression>{!Loop_Through_ApptsNotesClasses.sumoapp__EventName__c} + &quot; - &quot; + &quot;Day &quot; + TEXT({!varN_LoopCount}) + &quot;/&quot; + TEXT({!varN_RecordCount})</expression>
    </formulas>
    <interviewLabel>Subflow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Update Naming Convention for Classes within Course Series</label>
    <loops>
        <name>Loop_Through_ApptsNotesClasses</name>
        <label>Loop Through ApptsNotesClasses</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_ApptsNotesClasses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ApptsNotesClasses_Naming_Convention</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ApptsNotesClasses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ApptsNotesClasses</name>
        <label>Get ApptsNotesClasses</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Appointments_Notes_Classes_Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sumoapp__Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_ApptsNotesClasses.sumoapp__Parent__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sumoapp__Parent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sumoapp__AdditionalInfo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ApptsNotesClasses</name>
        <label>Update ApptsNotesClasses</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <inputReference>varR_ApptsNoteClassesToBeUpdated</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ApptsNotesClasses</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varN_LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varR_ApptsNoteClassesToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sumoapp__AdditionalInfo__c</objectType>
    </variables>
    <variables>
        <name>varR_ApptsNotesClasses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>sumoapp__AdditionalInfo__c</objectType>
    </variables>
    <variables>
        <name>varR_ApptsNotesClassesUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sumoapp__AdditionalInfo__c</objectType>
    </variables>
</Flow>
