flows/Subflow_Update_Counsel_Session.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ObjApiName</name>
        <label>ObjApiName</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>GetObjectAPIName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Related_To</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>varEvent.WhatId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetObjectAPIName</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varT_ObjName</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Related_To</name>
        <label>Related To ?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_ObjName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientCase__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Event</targetReference>
            </connector>
            <label>Client Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_SessionTypes</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_First_Event.sumoapp__AdditionalInfo__r.sumoapp__LocationType__c},
&quot;VID_CONFERENCE&quot;, &quot;4&quot;,
&quot;IN_PERSON&quot;, &quot;2&quot;,
&quot;PHONE&quot;, &quot;3&quot;,
&quot;7&quot;
)</expression>
    </formulas>
    <interviewLabel>Subflow: Update Parent Course Status to Canceled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Update Counsel Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_First_Event</name>
        <label>Get First Event</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEvent.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AppointmentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Event</name>
        <label>Get Last Event</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Client_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEvent.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AppointmentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Case</name>
        <label>Update Client Case</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_First_Event.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CounselSessionDateEnd__c</field>
            <value>
                <elementReference>Get_Last_Event.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CounselSessionDateStart__c</field>
            <value>
                <elementReference>Get_First_Event.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CounselingSessionTypes__c</field>
            <value>
                <elementReference>forT_SessionTypes</elementReference>
            </value>
        </inputAssignments>
        <object>ClientCase__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObjApiName</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>firsteventid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varT_ObjName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
