flows/Subflow_Update_Demographics_on_Intake_from_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_client_case_to_the_list</name>
        <label>Add client case to the list</label>
        <locationX>396</locationX>
        <locationY>8450</locationY>
        <assignmentItems>
            <assignToReference>varR_IntakeCasesToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Intake_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Intake_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_1st_Time_Home_Buyer_on_client_case</name>
        <label>Set 1st Time Home Buyer on client case</label>
        <locationX>264</locationX>
        <locationY>4058</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.X1stTimeHomeBuyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.X1stTimeHomeBuyer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Current_Residence_field_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_Military_on_client_case</name>
        <label>Set Active Military on client case</label>
        <locationX>264</locationX>
        <locationY>3458</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.ActiveMilitary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.ActiveMilitary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Veteran_field_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AddressLine2_on_client_case</name>
        <label>Set AddressLine2 on client case</label>
        <locationX>264</locationX>
        <locationY>6758</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.AddressLine2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.MailingAddressLine2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Farm_Worker_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_City_on_client_case</name>
        <label>Set City on client case</label>
        <locationX>264</locationX>
        <locationY>5558</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_State_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Colonias_Residence</name>
        <label>Set Colonias Residence</label>
        <locationX>264</locationX>
        <locationY>7358</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.ColoniasResidence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.ColoniasResidence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Occupation_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_County_MSA_on_client_case</name>
        <label>Set County/MSA on client case</label>
        <locationX>264</locationX>
        <locationY>4658</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.CountyMSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.CountyMSA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Monthly_Income_field_changed_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Residence_on_client_case</name>
        <label>Set Current Residence on client case</label>
        <locationX>264</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.CurrentResidence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.CurrentResidence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_County_MSA_field_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Education_on_client_case</name>
        <label>Set Education on client case</label>
        <locationX>264</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.Education__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.Education__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Martial_status_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_English_Proficiency_on_client_case</name>
        <label>Set English Proficiency on client case</label>
        <locationX>264</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.EnglishProficiency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.EnglishProficiency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Active_Military_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ethnicity_on_client_case</name>
        <label>Set Ethnicity on client case</label>
        <locationX>264</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.Ethnicity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.Ethnicity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Gender_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Farm_Worker</name>
        <label>Set Farm Worker</label>
        <locationX>264</locationX>
        <locationY>7058</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.FarmWorker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.FarmWorker__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Colonias_Residence_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gender_on_client_case</name>
        <label>Set Gender on client case</label>
        <locationX>264</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Household_Type_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Household_Type_on_client_case</name>
        <label>Set Household Type on client case</label>
        <locationX>264</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.HouseholdType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.HouseholdType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Education_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Household_Type_on_client_case_0</name>
        <label>Set Household Type on client case</label>
        <locationX>264</locationX>
        <locationY>6158</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_ZipCode_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Martial_status_on_client_case</name>
        <label>Set Martial status on client case</label>
        <locationX>264</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.MaritalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.MaritalStatus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Household_Size_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Monthly_Creditor_s_Debt</name>
        <label>Set Monthly Creditor’s Debt</label>
        <locationX>264</locationX>
        <locationY>8258</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.MonthlyCreditorsDebt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.MonthlyCreditorsDebt__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_client_case_to_the_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Monthly_Income_on_client_case</name>
        <label>Set Monthly Income on client case</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.MonthlyIncome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.TotalMonthlyIncome__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Race_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Monthly_Income_on_client_case_0</name>
        <label>Set Monthly Income on client case</label>
        <locationX>264</locationX>
        <locationY>4958</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.MonthlyIncome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.TotalMonthlyIncome__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Street_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_in_Household_on_client_case</name>
        <label>Set Number in Household on client case</label>
        <locationX>264</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.HouseholdSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.HouseholdSize__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Rural_Status_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Occupation</name>
        <label>Set Occupation</label>
        <locationX>264</locationX>
        <locationY>7658</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.Occupation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.Occupation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Occupation_Start_Date_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Occupation_Start_Date</name>
        <label>Set Occupation Start Date</label>
        <locationX>264</locationX>
        <locationY>7958</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.OccupationStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.OccupationStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Monthly_Creditor_s_Debt_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Race_on_client_case</name>
        <label>Set Race on client case</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.Race__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.Race__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Ethnicity_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rural_Status_on_client_case</name>
        <label>Set Rural Status on client case</label>
        <locationX>264</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.RuralAreaStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.RuralAreaStatus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_English_Proficiency_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_State_on_client_case</name>
        <label>Set State on client case</label>
        <locationX>264</locationX>
        <locationY>5858</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.MailingStateCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Country_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Street_on_client_case</name>
        <label>Set Street on client case</label>
        <locationX>264</locationX>
        <locationY>5258</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_City_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Veteran_on_client_case</name>
        <label>Set Veteran on client case</label>
        <locationX>264</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.Veteran__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.Veteran__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_1st_Time_Home_Buyer_field_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ZipCode_on_client_case</name>
        <label>Set ZipCode on client case</label>
        <locationX>264</locationX>
        <locationY>6458</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Intake_Cases.Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_AddressLine2_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_1st_Time_Home_Buyer_field_changed</name>
        <label>Has 1st Time Home Buyer field changed?</label>
        <locationX>396</locationX>
        <locationY>3950</locationY>
        <defaultConnector>
            <targetReference>Has_Current_Residence_field_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1st Time Home Buyer not changed</defaultConnectorLabel>
        <rules>
            <name>X1st_Time_Home_Buyer_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.X1stTimeHomeBuyer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.X1stTimeHomeBuyer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_1st_Time_Home_Buyer_on_client_case</targetReference>
            </connector>
            <label>1st Time Home Buyer changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Active_Military_changed</name>
        <label>Has Active Military changed?</label>
        <locationX>396</locationX>
        <locationY>3350</locationY>
        <defaultConnector>
            <targetReference>Has_Veteran_field_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active Military not changed</defaultConnectorLabel>
        <rules>
            <name>Active_Military_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.ActiveMilitary__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.ActiveMilitary__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_Military_on_client_case</targetReference>
            </connector>
            <label>Active Military changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_AddressLine2_changed</name>
        <label>Has AddressLine2 changed?</label>
        <locationX>396</locationX>
        <locationY>6650</locationY>
        <defaultConnector>
            <targetReference>Has_Farm_Worker_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AddressLine2 not changed</defaultConnectorLabel>
        <rules>
            <name>AddressLine2_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.MailingAddressLine2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.MailingAddressLine2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AddressLine2_on_client_case</targetReference>
            </connector>
            <label>AddressLine2 changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_City_changed</name>
        <label>Has City changed?</label>
        <locationX>396</locationX>
        <locationY>5450</locationY>
        <defaultConnector>
            <targetReference>Has_State_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>City not changed</defaultConnectorLabel>
        <rules>
            <name>City_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.MailingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.MailingCity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_City_on_client_case</targetReference>
            </connector>
            <label>City changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Colonias_Residence_changed</name>
        <label>Has Colonias Residence changed?</label>
        <locationX>396</locationX>
        <locationY>7250</locationY>
        <defaultConnector>
            <targetReference>Has_Occupation_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Farm Worker not changed</defaultConnectorLabel>
        <rules>
            <name>Colonias_Residence_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.ColoniasResidence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.ColoniasResidence__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Colonias_Residence</targetReference>
            </connector>
            <label>Colonias Residence Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Country_changed</name>
        <label>Has Country changed?</label>
        <locationX>396</locationX>
        <locationY>6050</locationY>
        <defaultConnector>
            <targetReference>Has_ZipCode_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Country not changed</defaultConnectorLabel>
        <rules>
            <name>Country_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.MailingCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Household_Type_on_client_case_0</targetReference>
            </connector>
            <label>Country changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_County_MSA_field_changed</name>
        <label>Has County/MSA field changed?</label>
        <locationX>396</locationX>
        <locationY>4550</locationY>
        <defaultConnector>
            <targetReference>Has_Monthly_Income_field_changed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>County/MSA not changed</defaultConnectorLabel>
        <rules>
            <name>County_MSA_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.CountyMSA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.CountyMSA__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_County_MSA_on_client_case</targetReference>
            </connector>
            <label>County/MSA changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Current_Residence_field_changed</name>
        <label>Has Current Residence field changed?</label>
        <locationX>396</locationX>
        <locationY>4250</locationY>
        <defaultConnector>
            <targetReference>Has_County_MSA_field_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current Residence not changed</defaultConnectorLabel>
        <rules>
            <name>Current_Residence_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.CurrentResidence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.CurrentResidence__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Residence_on_client_case</targetReference>
            </connector>
            <label>Current Residence changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Education_changed</name>
        <label>Has Education changed?</label>
        <locationX>396</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Has_Martial_status_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Education not changed</defaultConnectorLabel>
        <rules>
            <name>Education_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.Education__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.Education__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Education_on_client_case</targetReference>
            </connector>
            <label>Education changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_English_Proficiency_changed</name>
        <label>Has English Proficiency changed?</label>
        <locationX>396</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>Has_Active_Military_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English Proficiency not changed</defaultConnectorLabel>
        <rules>
            <name>English_Proficiency_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.EnglishProficiency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.EnglishProficiency__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_English_Proficiency_on_client_case</targetReference>
            </connector>
            <label>English Proficiency changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Ethnicity_changed</name>
        <label>Has Ethnicity changed?</label>
        <locationX>396</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Has_Gender_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ethnicity not changed</defaultConnectorLabel>
        <rules>
            <name>Ethnicity_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.Ethnicity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.Ethnicity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Ethnicity_on_client_case</targetReference>
            </connector>
            <label>Ethnicity changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Farm_Worker_changed</name>
        <label>Has Farm Worker changed?</label>
        <locationX>396</locationX>
        <locationY>6950</locationY>
        <defaultConnector>
            <targetReference>Has_Colonias_Residence_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Farm Worker not changed</defaultConnectorLabel>
        <rules>
            <name>Farm_Worker_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.FarmWorker__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.FarmWorker__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Farm_Worker</targetReference>
            </connector>
            <label>Farm Worker changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Gender_changed</name>
        <label>Has Gender changed?</label>
        <locationX>396</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Has_Household_Type_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gender not changed</defaultConnectorLabel>
        <rules>
            <name>Gender_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.Gender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.Gender__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gender_on_client_case</targetReference>
            </connector>
            <label>Gender changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Household_Size_changed</name>
        <label>Has Household Size changed?</label>
        <locationX>396</locationX>
        <locationY>2450</locationY>
        <defaultConnector>
            <targetReference>Has_Rural_Status_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Household Size not changed</defaultConnectorLabel>
        <rules>
            <name>Household_Size_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.HouseholdSize__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.HouseholdSize__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Number_in_Household_on_client_case</targetReference>
            </connector>
            <label>Household Size changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Household_Type_changed</name>
        <label>Has Household Type changed?</label>
        <locationX>396</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Has_Education_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Household Type not changed</defaultConnectorLabel>
        <rules>
            <name>Household_Type_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.HouseholdType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.HouseholdType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Household_Type_on_client_case</targetReference>
            </connector>
            <label>Household Type changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Martial_status_changed</name>
        <label>Has Martial status changed?</label>
        <locationX>396</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Has_Household_Size_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Martial status not changed</defaultConnectorLabel>
        <rules>
            <name>Martial_status_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.MaritalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.MaritalStatus__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Martial_status_on_client_case</targetReference>
            </connector>
            <label>Martial status changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Monthly_Creditor_s_Debt_changed</name>
        <label>Has Monthly Creditor’s Debt changed?</label>
        <locationX>396</locationX>
        <locationY>8150</locationY>
        <defaultConnector>
            <targetReference>Add_client_case_to_the_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Occupation Start Date not changed</defaultConnectorLabel>
        <rules>
            <name>Monthly_Creditor_s_Debt_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.MonthlyCreditorsDebt__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.MonthlyCreditorsDebt__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Monthly_Creditor_s_Debt</targetReference>
            </connector>
            <label>Monthly Creditor’s Debt Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Monthly_Income_field_changed</name>
        <label>Has Monthly Income field changed?</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Has_Race_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Monthly Income not changed</defaultConnectorLabel>
        <rules>
            <name>Monthly_Income_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.TotalMonthlyIncome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.TotalMonthlyIncome__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Monthly_Income_on_client_case</targetReference>
            </connector>
            <label>Monthly Income changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Monthly_Income_field_changed_0</name>
        <label>Has Monthly Income field changed?</label>
        <locationX>396</locationX>
        <locationY>4850</locationY>
        <defaultConnector>
            <targetReference>Has_Street_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Monthly Income not changed</defaultConnectorLabel>
        <rules>
            <name>Monthly_Income_changed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.TotalMonthlyIncome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.TotalMonthlyIncome__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Monthly_Income_on_client_case_0</targetReference>
            </connector>
            <label>Monthly Income changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Occupation_changed</name>
        <label>Has Occupation changed?</label>
        <locationX>396</locationX>
        <locationY>7550</locationY>
        <defaultConnector>
            <targetReference>Has_Occupation_Start_Date_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Farm Worker not changed</defaultConnectorLabel>
        <rules>
            <name>Occupation_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.Occupation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.Occupation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Occupation</targetReference>
            </connector>
            <label>Occupation Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Occupation_Start_Date_changed</name>
        <label>Has Occupation Start Date changed?</label>
        <locationX>396</locationX>
        <locationY>7850</locationY>
        <defaultConnector>
            <targetReference>Has_Monthly_Creditor_s_Debt_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Occupation Start Date not changed</defaultConnectorLabel>
        <rules>
            <name>Occupation_Start_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.OccupationStartDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.OccupationStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Occupation_Start_Date</targetReference>
            </connector>
            <label>Occupation Start Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Race_changed</name>
        <label>Has Race changed?</label>
        <locationX>396</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Has_Ethnicity_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Race not changed</defaultConnectorLabel>
        <rules>
            <name>Race_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.Race__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.Race__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Race_on_client_case</targetReference>
            </connector>
            <label>Race changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Rural_Status_changed</name>
        <label>Has Rural Status changed?</label>
        <locationX>396</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Has_English_Proficiency_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rural Status not changed</defaultConnectorLabel>
        <rules>
            <name>Rural_Status_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.RuralAreaStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.RuralAreaStatus__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rural_Status_on_client_case</targetReference>
            </connector>
            <label>Rural Status changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_State_changed</name>
        <label>Has State changed?</label>
        <locationX>396</locationX>
        <locationY>5750</locationY>
        <defaultConnector>
            <targetReference>Has_Country_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>State not changed</defaultConnectorLabel>
        <rules>
            <name>State_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.MailingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.MailingState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_State_on_client_case</targetReference>
            </connector>
            <label>State changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Street_changed</name>
        <label>Has Street changed?</label>
        <locationX>396</locationX>
        <locationY>5150</locationY>
        <defaultConnector>
            <targetReference>Has_City_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Street not changed</defaultConnectorLabel>
        <rules>
            <name>Street_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.MailingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.MailingStreet</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Street_on_client_case</targetReference>
            </connector>
            <label>Street changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Veteran_field_changed</name>
        <label>Has Veteran field changed?</label>
        <locationX>396</locationX>
        <locationY>3650</locationY>
        <defaultConnector>
            <targetReference>Has_1st_Time_Home_Buyer_field_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Veteran field not changed</defaultConnectorLabel>
        <rules>
            <name>Veteran_field_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.Veteran__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.Veteran__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Veteran_on_client_case</targetReference>
            </connector>
            <label>Veteran field changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_ZipCode_changed</name>
        <label>Has ZipCode changed?</label>
        <locationX>396</locationX>
        <locationY>6350</locationY>
        <defaultConnector>
            <targetReference>Has_AddressLine2_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ZipCode not changed</defaultConnectorLabel>
        <rules>
            <name>ZipCode_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Contact.MailingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ContactPrior.MailingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ZipCode_on_client_case</targetReference>
            </connector>
            <label>ZipCode changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subflow: Update Demographics on Intake From Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Update Demographics on Intake from Contact</label>
    <loops>
        <name>Loop_Through_Intake_Cases</name>
        <label>Loop Through Intake Cases</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Intake_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Monthly_Income_field_changed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Intake</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Intake_Cases</name>
        <label>Get Intake Cases</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Intake_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryClient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open Intake</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Intake</name>
        <label>Update Intake</label>
        <locationX>176</locationX>
        <locationY>8642</locationY>
        <faultConnector>
            <targetReference>Create_Log</targetReference>
        </faultConnector>
        <inputReference>varR_IntakeCasesToBeUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intake_Cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Log</name>
        <label>Create_Log</label>
        <locationX>440</locationX>
        <locationY>8750</locationY>
        <flowName>LoggerFlow</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>Subflow: Update Demographics on Client Case</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varR_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_ContactPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_IntakeCasesToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Intake__c</objectType>
    </variables>
</Flow>
