flows/sumoapp__EventRegistration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>bookSeats</name>
        <label>Book Seats</label>
        <locationX>2545</locationX>
        <locationY>611</locationY>
        <actionName>sumoapp:eventRegistrationBookAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>bookedScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>registerScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>BOOKED</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>clientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attendeeIds</name>
            <value>
                <elementReference>attendeeIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>seats</name>
            <value>
                <elementReference>seats</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sumoapp:eventRegistrationBookAction</nameSegment>
        <outputParameters>
            <assignToReference>attendeeIds</assignToReference>
            <name>attendeeIds</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>cancelDraftAttendees</name>
        <label>Cancel Draft Attendees</label>
        <locationX>1622</locationX>
        <locationY>207</locationY>
        <actionName>sumoapp:eventRegistrationCancelDraftAttendeeAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>detailScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>detailScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>attendeeIds</name>
            <value>
                <elementReference>attendeeIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sumoapp:eventRegistrationCancelDraftAttendeeAction</nameSegment>
        <outputParameters>
            <assignToReference>attendeeIds</assignToReference>
            <name>attendeeIds</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>getEventDetails</name>
        <label>Is Event Paid</label>
        <locationX>1747</locationX>
        <locationY>379</locationY>
        <actionName>sumoapp:eventRegistrationGetEventDetailsAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>registerScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEventPaid</name>
        </inputParameters>
        <nameSegment>sumoapp:eventRegistrationGetEventDetailsAction</nameSegment>
        <outputParameters>
            <assignToReference>isEventPaid</assignToReference>
            <name>isEventPaid</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetPreconditions</name>
        <label>Get Conditions</label>
        <locationX>999</locationX>
        <locationY>1011</locationY>
        <actionName>sumoapp:eventRegistrationGetScreenConditionsAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>showCategory</targetReference>
        </connector>
        <faultConnector>
            <targetReference>whereScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>categoryIds</name>
            <value>
                <elementReference>allowedCategoryIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventIds</name>
            <value>
                <elementReference>allowedEventIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationIds</name>
            <value>
                <elementReference>allowedLocationIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationTypes</name>
            <value>
                <elementReference>allowedLocationTypes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>regLinkId</name>
            <value>
                <elementReference>regLinkId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processId</name>
            <value>
                <elementReference>processId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>categoryId</name>
            <value>
                <elementReference>categoryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationId</name>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationType</name>
            <value>
                <elementReference>locationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timezoneId</name>
            <value>
                <elementReference>timezone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sumoapp:eventRegistrationGetScreenConditionsAction</nameSegment>
        <outputParameters>
            <assignToReference>allowedCategoryIds</assignToReference>
            <name>categoryIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedCategoryIdsLength</assignToReference>
            <name>categoryIdsLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedEventIds</assignToReference>
            <name>eventIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationIds</assignToReference>
            <name>locationIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationIdsLength</assignToReference>
            <name>locationIdsLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationTypes</assignToReference>
            <name>locationTypes</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationTypesLength</assignToReference>
            <name>locationTypesLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>categoryId</assignToReference>
            <name>categoryId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>locationId</assignToReference>
            <name>locationId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>locationType</assignToReference>
            <name>locationType</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetPreconditions_0</name>
        <label>Get Conditions</label>
        <locationX>433</locationX>
        <locationY>1012</locationY>
        <actionName>sumoapp:eventRegistrationGetScreenConditionsAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>showLocationType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>globalErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>categoryIds</name>
            <value>
                <elementReference>allowedCategoryIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventIds</name>
            <value>
                <elementReference>allowedEventIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationIds</name>
            <value>
                <elementReference>allowedLocationIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationTypes</name>
            <value>
                <elementReference>allowedLocationTypes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>regLinkId</name>
            <value>
                <elementReference>regLinkId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processId</name>
            <value>
                <elementReference>processId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>categoryId</name>
            <value>
                <elementReference>categoryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationId</name>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationType</name>
            <value>
                <elementReference>locationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timezoneId</name>
            <value>
                <elementReference>timezone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sumoapp:eventRegistrationGetScreenConditionsAction</nameSegment>
        <outputParameters>
            <assignToReference>allowedCategoryIds</assignToReference>
            <name>categoryIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedCategoryIdsLength</assignToReference>
            <name>categoryIdsLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedEventIds</assignToReference>
            <name>eventIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationIds</assignToReference>
            <name>locationIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationIdsLength</assignToReference>
            <name>locationIdsLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationTypes</assignToReference>
            <name>locationTypes</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationTypesLength</assignToReference>
            <name>locationTypesLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>categoryId</assignToReference>
            <name>categoryId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>locationId</assignToReference>
            <name>locationId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>locationType</assignToReference>
            <name>locationType</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetPreconditions_0_0</name>
        <label>Get Conditions</label>
        <locationX>720</locationX>
        <locationY>1010</locationY>
        <actionName>sumoapp:eventRegistrationGetScreenConditionsAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>showWhere</targetReference>
        </connector>
        <faultConnector>
            <targetReference>locationTypeScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>categoryIds</name>
            <value>
                <elementReference>allowedCategoryIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventIds</name>
            <value>
                <elementReference>allowedEventIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationIds</name>
            <value>
                <elementReference>allowedLocationIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationTypes</name>
            <value>
                <elementReference>allowedLocationTypes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>regLinkId</name>
            <value>
                <elementReference>regLinkId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processId</name>
            <value>
                <elementReference>processId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>categoryId</name>
            <value>
                <elementReference>categoryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationId</name>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationType</name>
            <value>
                <elementReference>locationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timezoneId</name>
            <value>
                <elementReference>timezone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sumoapp:eventRegistrationGetScreenConditionsAction</nameSegment>
        <outputParameters>
            <assignToReference>allowedCategoryIds</assignToReference>
            <name>categoryIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedCategoryIdsLength</assignToReference>
            <name>categoryIdsLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedEventIds</assignToReference>
            <name>eventIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationIds</assignToReference>
            <name>locationIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationIdsLength</assignToReference>
            <name>locationIdsLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationTypes</assignToReference>
            <name>locationTypes</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationTypesLength</assignToReference>
            <name>locationTypesLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>categoryId</assignToReference>
            <name>categoryId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>locationId</assignToReference>
            <name>locationId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>locationType</assignToReference>
            <name>locationType</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>initialize</name>
        <label>Initialize</label>
        <locationX>263</locationX>
        <locationY>562</locationY>
        <actionName>sumoapp:eventRegistrationInitializeAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>hasEventId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>globalErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>sumoapp:eventRegistrationInitializeAction</nameSegment>
        <outputParameters>
            <assignToReference>processId</assignToReference>
            <name>processId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>regLinkId</assignToReference>
            <name>regLinkId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>processType</assignToReference>
            <name>processType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isIframe</assignToReference>
            <name>isIframe</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationTypes</assignToReference>
            <name>locationTypes</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationTypesLength</assignToReference>
            <name>locationTypesLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>locationType</assignToReference>
            <name>locationType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationIds</assignToReference>
            <name>locationIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedLocationIdsLength</assignToReference>
            <name>locationIdsLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>locationId</assignToReference>
            <name>locationId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>skipCategory</assignToReference>
            <name>skipCategory</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedCategoryIds</assignToReference>
            <name>categoryIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedCategoryIdsLength</assignToReference>
            <name>categoryIdsLength</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>categoryId</assignToReference>
            <name>categoryId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>allowedEventIds</assignToReference>
            <name>eventIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>eventId</assignToReference>
            <name>eventId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>clientId</assignToReference>
            <name>clientId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>seats</assignToReference>
            <name>seats</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>attendeeIds</assignToReference>
            <name>attendeeIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isAttendeePredefined</assignToReference>
            <name>isAttendeePredefined</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReserveSeats</name>
        <label>Reserve Seats</label>
        <locationX>1673</locationX>
        <locationY>781</locationY>
        <actionName>sumoapp:eventRegistrationBookAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>showRegister</targetReference>
        </connector>
        <faultConnector>
            <targetReference>detailScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>DRAFT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>seats</name>
            <value>
                <elementReference>seats</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sumoapp:eventRegistrationBookAction</nameSegment>
        <outputParameters>
            <assignToReference>attendeeExpirationDateTime</assignToReference>
            <name>attendeeExpirationDateTime</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>attendeeIds</assignToReference>
            <name>attendeeIds</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>upsertClient</name>
        <label>Upsert Client</label>
        <locationX>2181</locationX>
        <locationY>211</locationY>
        <actionName>sumoapp:eventRegistrationUpsertClientRecordAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>ShowPayment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>registerScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecord</name>
            <value>
                <elementReference>accountRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactRecord</name>
            <value>
                <elementReference>contactRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processId</name>
            <value>
                <elementReference>processId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attendeeIds</name>
            <value>
                <elementReference>attendeeIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadRecord</name>
            <value>
                <elementReference>leadRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processType</name>
            <value>
                <elementReference>processType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sumoapp:eventRegistrationUpsertClientRecordAction</nameSegment>
        <outputParameters>
            <assignToReference>clientId</assignToReference>
            <name>clientId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Has_Attendee_Id</name>
        <label>Has Attendee Id?</label>
        <locationX>1041</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>detailScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>isAttendeeIdPopulated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isAttendeePredefined</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEventDetails</targetReference>
            </connector>
            <label>Has Attendee Id?</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasEventId</name>
        <label>Has Event Id?</label>
        <locationX>426</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>GetPreconditions_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>isEventIdPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Has_Attendee_Id</targetReference>
            </connector>
            <label>Has Event Id?</label>
        </rules>
        <rules>
            <name>notValidURL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>processId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>globalErrorScreen</targetReference>
            </connector>
            <label>Is Valid URL ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Attendee_Predefined_Decision</name>
        <label>Is Attendee Predefined?</label>
        <locationX>2173</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>upsertClient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Attendee_Predefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAttendeePredefined</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowPayment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNavigatingBack</name>
        <label>Is Navigating Back?</label>
        <locationX>1873</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>Is_Attendee_Predefined_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>isNavigationDirectionBack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigationDirection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cancelDraftAttendees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>showCategory</name>
        <label>Show Category?</label>
        <locationX>1110</locationX>
        <locationY>1013</locationY>
        <defaultConnector>
            <targetReference>showWhen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>doShowCategory</name>
            <conditionLogic>4 AND 1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>allowedCategoryIdsLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>categoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>categoryId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>skipCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>categoryScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>showDetail</name>
        <label>Show Detail?</label>
        <locationX>1478</locationX>
        <locationY>1016</locationY>
        <defaultConnector>
            <targetReference>showRegister</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>doShowDetail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>processId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>detailScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>showLocationType</name>
        <label>Show Location Type?</label>
        <locationX>570</locationX>
        <locationY>1014</locationY>
        <defaultConnector>
            <targetReference>GetPreconditions_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>doShowLocationType</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>allowedLocationTypesLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>locationType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>locationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>locationTypeScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowPayment</name>
        <label>Show Payment</label>
        <locationX>2282</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>bookSeats</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>doShowPayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isEventPaid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>showRegister</name>
        <label>Show Register?</label>
        <locationX>1848</locationX>
        <locationY>1017</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>doShowRegister</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>processId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEventDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>showWhen</name>
        <label>Show When?</label>
        <locationX>1290</locationX>
        <locationY>1017</locationY>
        <defaultConnector>
            <targetReference>showDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>doShowWhen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>processId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>whenScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>showWhere</name>
        <label>Show Where?</label>
        <locationX>841</locationX>
        <locationY>1012</locationY>
        <defaultConnector>
            <targetReference>GetPreconditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>doShowWhere</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>allowedLocationIdsLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>locationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>locationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>locationType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VIRTUAL_EVENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>whereScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>StartOver</name>
        <label>Start over?</label>
        <locationX>2271</locationX>
        <locationY>929</locationY>
        <defaultConnector>
            <targetReference>bookSeats</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>doStartOver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isStartOver</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>detailScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Event Online Registration Flow</description>
    <environments>Default</environments>
    <interviewLabel>Event Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Event Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>bookedScreen</name>
        <label>Booked</label>
        <locationX>2728</locationX>
        <locationY>609</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>bookedComponent</name>
            <extensionName>sumoapp:eventRegistrationBookedScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>categoryId</name>
                <value>
                    <elementReference>categoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>locationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationType</name>
                <value>
                    <elementReference>locationType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processId</name>
                <value>
                    <elementReference>processId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedCategoryIds</name>
                <value>
                    <elementReference>allowedCategoryIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationIds</name>
                <value>
                    <elementReference>allowedLocationIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientId</name>
                <value>
                    <elementReference>clientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>eventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>seats</name>
                <value>
                    <elementReference>seats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timezone</name>
                <value>
                    <elementReference>timezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadRecord</name>
                <value>
                    <elementReference>leadRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>processType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountName</name>
                <value>
                    <elementReference>accountName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountRecord</name>
                <value>
                    <elementReference>accountRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactRecord</name>
                <value>
                    <elementReference>contactRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>faultMessage</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isIframe</name>
                <value>
                    <elementReference>isIframe</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedEventIds</name>
                <value>
                    <elementReference>allowedEventIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regLinkId</name>
                <value>
                    <elementReference>regLinkId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationTypes</name>
                <value>
                    <elementReference>allowedLocationTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeIds</name>
                <value>
                    <elementReference>attendeeIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeExpirationDateTime</name>
                <value>
                    <elementReference>attendeeExpirationDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSoldOut</name>
                <value>
                    <elementReference>isSoldOut</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isStartOver</name>
                <value>
                    <elementReference>isStartOver</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>categoryId</assignToReference>
                <name>categoryIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationId</assignToReference>
                <name>locationIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationType</assignToReference>
                <name>locationTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processId</assignToReference>
                <name>processIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>timezone</assignToReference>
                <name>timezoneOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>seats</assignToReference>
                <name>seatsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>eventId</assignToReference>
                <name>eventIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>clientId</assignToReference>
                <name>clientIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationIds</assignToReference>
                <name>allowedLocationIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedCategoryIds</assignToReference>
                <name>allowedCategoryIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord</assignToReference>
                <name>leadRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountName</assignToReference>
                <name>accountNameOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountRecord</assignToReference>
                <name>accountRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactRecord</assignToReference>
                <name>contactRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processType</assignToReference>
                <name>processTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedEventIds</assignToReference>
                <name>allowedEventIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>regLinkId</assignToReference>
                <name>regLinkIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationTypes</assignToReference>
                <name>allowedLocationTypesOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeExpirationDateTime</assignToReference>
                <name>attendeeExpirationDateTimeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeIds</assignToReference>
                <name>attendeeIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>navigationDirection</assignToReference>
                <name>navigationDirectionOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>categoryScreen</name>
        <label>Category</label>
        <locationX>1221</locationX>
        <locationY>658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showWhen</targetReference>
        </connector>
        <fields>
            <name>categoryComponent</name>
            <extensionName>sumoapp:eventRegistrationCategoryScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>categoryId</name>
                <value>
                    <elementReference>categoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>locationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationType</name>
                <value>
                    <elementReference>locationType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processId</name>
                <value>
                    <elementReference>processId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedCategoryIds</name>
                <value>
                    <elementReference>allowedCategoryIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationIds</name>
                <value>
                    <elementReference>allowedLocationIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientId</name>
                <value>
                    <elementReference>clientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>eventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>seats</name>
                <value>
                    <elementReference>seats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timezone</name>
                <value>
                    <elementReference>timezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadRecord</name>
                <value>
                    <elementReference>leadRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>processType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountName</name>
                <value>
                    <elementReference>accountName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountRecord</name>
                <value>
                    <elementReference>accountRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactRecord</name>
                <value>
                    <elementReference>contactRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>faultMessage</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isIframe</name>
                <value>
                    <elementReference>isIframe</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedEventIds</name>
                <value>
                    <elementReference>allowedEventIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regLinkId</name>
                <value>
                    <elementReference>regLinkId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationTypes</name>
                <value>
                    <elementReference>allowedLocationTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeIds</name>
                <value>
                    <elementReference>attendeeIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeExpirationDateTime</name>
                <value>
                    <elementReference>attendeeExpirationDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSoldOut</name>
                <value>
                    <elementReference>isSoldOut</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isStartOver</name>
                <value>
                    <elementReference>isStartOver</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>categoryId</assignToReference>
                <name>categoryIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationId</assignToReference>
                <name>locationIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationType</assignToReference>
                <name>locationTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processId</assignToReference>
                <name>processIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>timezone</assignToReference>
                <name>timezoneOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>seats</assignToReference>
                <name>seatsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>eventId</assignToReference>
                <name>eventIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>clientId</assignToReference>
                <name>clientIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationIds</assignToReference>
                <name>allowedLocationIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedCategoryIds</assignToReference>
                <name>allowedCategoryIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord</assignToReference>
                <name>leadRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountName</assignToReference>
                <name>accountNameOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountRecord</assignToReference>
                <name>accountRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactRecord</assignToReference>
                <name>contactRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processType</assignToReference>
                <name>processTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedEventIds</assignToReference>
                <name>allowedEventIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>regLinkId</assignToReference>
                <name>regLinkIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationTypes</assignToReference>
                <name>allowedLocationTypesOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeExpirationDateTime</assignToReference>
                <name>attendeeExpirationDateTimeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeIds</assignToReference>
                <name>attendeeIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>navigationDirection</assignToReference>
                <name>navigationDirectionOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSoldOut</assignToReference>
                <name>isSoldOutOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isStartOver</assignToReference>
                <name>isStartOverOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>detailScreen</name>
        <label>Detail</label>
        <locationX>1621</locationX>
        <locationY>569</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ReserveSeats</targetReference>
        </connector>
        <fields>
            <name>eventDetailComponent</name>
            <extensionName>sumoapp:eventRegistrationEventDetailScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>categoryId</name>
                <value>
                    <elementReference>categoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>locationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationType</name>
                <value>
                    <elementReference>locationType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processId</name>
                <value>
                    <elementReference>processId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedCategoryIds</name>
                <value>
                    <elementReference>allowedCategoryIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationIds</name>
                <value>
                    <elementReference>allowedLocationIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientId</name>
                <value>
                    <elementReference>clientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>eventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>seats</name>
                <value>
                    <elementReference>seats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timezone</name>
                <value>
                    <elementReference>timezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadRecord</name>
                <value>
                    <elementReference>leadRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>processType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountName</name>
                <value>
                    <elementReference>accountName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountRecord</name>
                <value>
                    <elementReference>accountRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactRecord</name>
                <value>
                    <elementReference>contactRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>faultMessage</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isIframe</name>
                <value>
                    <elementReference>isIframe</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedEventIds</name>
                <value>
                    <elementReference>allowedEventIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regLinkId</name>
                <value>
                    <elementReference>regLinkId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationTypes</name>
                <value>
                    <elementReference>allowedLocationTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeIds</name>
                <value>
                    <elementReference>attendeeIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeExpirationDateTime</name>
                <value>
                    <elementReference>attendeeExpirationDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSoldOut</name>
                <value>
                    <elementReference>isSoldOut</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isStartOver</name>
                <value>
                    <elementReference>isStartOver</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>categoryId</assignToReference>
                <name>categoryIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationId</assignToReference>
                <name>locationIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationType</assignToReference>
                <name>locationTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processId</assignToReference>
                <name>processIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>timezone</assignToReference>
                <name>timezoneOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>seats</assignToReference>
                <name>seatsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>eventId</assignToReference>
                <name>eventIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>clientId</assignToReference>
                <name>clientIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationIds</assignToReference>
                <name>allowedLocationIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedCategoryIds</assignToReference>
                <name>allowedCategoryIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord</assignToReference>
                <name>leadRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountName</assignToReference>
                <name>accountNameOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountRecord</assignToReference>
                <name>accountRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactRecord</assignToReference>
                <name>contactRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processType</assignToReference>
                <name>processTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedEventIds</assignToReference>
                <name>allowedEventIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>regLinkId</assignToReference>
                <name>regLinkIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationTypes</assignToReference>
                <name>allowedLocationTypesOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeExpirationDateTime</assignToReference>
                <name>attendeeExpirationDateTimeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeIds</assignToReference>
                <name>attendeeIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>navigationDirection</assignToReference>
                <name>navigationDirectionOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSoldOut</assignToReference>
                <name>isSoldOutOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isStartOver</assignToReference>
                <name>isStartOverOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>globalErrorScreen</name>
        <label>Global Error</label>
        <locationX>229</locationX>
        <locationY>826</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>globalErrorScreenComponent</name>
            <extensionName>sumoapp:eventRegistrationGlobalErrorScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>locationTypeScreen</name>
        <label>Location Type</label>
        <locationX>653</locationX>
        <locationY>663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetPreconditions_0_0</targetReference>
        </connector>
        <fields>
            <name>locationTypeComponent</name>
            <extensionName>sumoapp:eventRegistrationLocationTypeScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>categoryId</name>
                <value>
                    <elementReference>categoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>locationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationType</name>
                <value>
                    <elementReference>locationType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processId</name>
                <value>
                    <elementReference>processId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedCategoryIds</name>
                <value>
                    <elementReference>allowedCategoryIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationIds</name>
                <value>
                    <elementReference>allowedLocationIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientId</name>
                <value>
                    <elementReference>clientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>eventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>seats</name>
                <value>
                    <elementReference>seats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timezone</name>
                <value>
                    <elementReference>timezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadRecord</name>
                <value>
                    <elementReference>leadRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>processType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountName</name>
                <value>
                    <elementReference>accountName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountRecord</name>
                <value>
                    <elementReference>accountRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactRecord</name>
                <value>
                    <elementReference>contactRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>faultMessage</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isIframe</name>
                <value>
                    <elementReference>isIframe</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedEventIds</name>
                <value>
                    <elementReference>allowedEventIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regLinkId</name>
                <value>
                    <elementReference>regLinkId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationTypes</name>
                <value>
                    <elementReference>allowedLocationTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeIds</name>
                <value>
                    <elementReference>attendeeIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeExpirationDateTime</name>
                <value>
                    <elementReference>attendeeExpirationDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSoldOut</name>
                <value>
                    <elementReference>isSoldOut</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isStartOver</name>
                <value>
                    <elementReference>isStartOver</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>categoryId</assignToReference>
                <name>categoryIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationId</assignToReference>
                <name>locationIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationType</assignToReference>
                <name>locationTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processId</assignToReference>
                <name>processIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>timezone</assignToReference>
                <name>timezoneOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>seats</assignToReference>
                <name>seatsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>eventId</assignToReference>
                <name>eventIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>clientId</assignToReference>
                <name>clientIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationIds</assignToReference>
                <name>allowedLocationIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedCategoryIds</assignToReference>
                <name>allowedCategoryIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord</assignToReference>
                <name>leadRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountName</assignToReference>
                <name>accountNameOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountRecord</assignToReference>
                <name>accountRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactRecord</assignToReference>
                <name>contactRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processType</assignToReference>
                <name>processTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedEventIds</assignToReference>
                <name>allowedEventIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>regLinkId</assignToReference>
                <name>regLinkIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationTypes</assignToReference>
                <name>allowedLocationTypesOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeExpirationDateTime</assignToReference>
                <name>attendeeExpirationDateTimeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeIds</assignToReference>
                <name>attendeeIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>navigationDirection</assignToReference>
                <name>navigationDirectionOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSoldOut</assignToReference>
                <name>isSoldOutOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isStartOver</assignToReference>
                <name>isStartOverOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>(paymentScreen)</description>
        <name>Payment</name>
        <label>Payment</label>
        <locationX>2279</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StartOver</targetReference>
        </connector>
        <fields>
            <name>paymentComponent</name>
            <extensionName>sumoapp:eventRegistrationPaymentScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountName</name>
                <value>
                    <elementReference>accountName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountRecord</name>
                <value>
                    <elementReference>accountRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedCategoryIds</name>
                <value>
                    <elementReference>allowedCategoryIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedEventIds</name>
                <value>
                    <elementReference>allowedEventIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationIds</name>
                <value>
                    <elementReference>allowedLocationIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationTypes</name>
                <value>
                    <elementReference>allowedLocationTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeIds</name>
                <value>
                    <elementReference>attendeeIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeExpirationDateTime</name>
                <value>
                    <elementReference>attendeeExpirationDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>categoryId</name>
                <value>
                    <elementReference>categoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientId</name>
                <value>
                    <elementReference>clientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactRecord</name>
                <value>
                    <elementReference>contactRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>eventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>faultMessage</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isIframe</name>
                <value>
                    <elementReference>isIframe</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadRecord</name>
                <value>
                    <elementReference>leadRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>locationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationType</name>
                <value>
                    <elementReference>locationType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processId</name>
                <value>
                    <elementReference>processId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>processType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regLinkId</name>
                <value>
                    <elementReference>regLinkId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>seats</name>
                <value>
                    <elementReference>seats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timezone</name>
                <value>
                    <elementReference>timezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSoldOut</name>
                <value>
                    <elementReference>isSoldOut</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isStartOver</name>
                <value>
                    <elementReference>isStartOver</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountName</assignToReference>
                <name>accountNameOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountRecord</assignToReference>
                <name>accountRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedCategoryIds</assignToReference>
                <name>allowedCategoryIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedEventIds</assignToReference>
                <name>allowedEventIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationIds</assignToReference>
                <name>allowedLocationIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationTypes</assignToReference>
                <name>allowedLocationTypesOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeExpirationDateTime</assignToReference>
                <name>attendeeExpirationDateTimeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeIds</assignToReference>
                <name>attendeeIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>categoryId</assignToReference>
                <name>categoryIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactRecord</assignToReference>
                <name>contactRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>eventId</assignToReference>
                <name>eventIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord</assignToReference>
                <name>leadRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationId</assignToReference>
                <name>locationIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationType</assignToReference>
                <name>locationTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>navigationDirection</assignToReference>
                <name>navigationDirectionOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processId</assignToReference>
                <name>processIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processType</assignToReference>
                <name>processTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>regLinkId</assignToReference>
                <name>regLinkIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>seats</assignToReference>
                <name>seatsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>timezone</assignToReference>
                <name>timezoneOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSoldOut</assignToReference>
                <name>isSoldOutOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isStartOver</assignToReference>
                <name>isStartOverOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>registerScreen</name>
        <label>Register</label>
        <locationX>1881</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isNavigatingBack</targetReference>
        </connector>
        <fields>
            <name>registerComponent</name>
            <extensionName>sumoapp:eventRegistrationRegisterScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>categoryId</name>
                <value>
                    <elementReference>categoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>locationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationType</name>
                <value>
                    <elementReference>locationType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processId</name>
                <value>
                    <elementReference>processId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedCategoryIds</name>
                <value>
                    <elementReference>allowedCategoryIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationIds</name>
                <value>
                    <elementReference>allowedLocationIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientId</name>
                <value>
                    <elementReference>clientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>eventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>seats</name>
                <value>
                    <elementReference>seats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timezone</name>
                <value>
                    <elementReference>timezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadRecord</name>
                <value>
                    <elementReference>leadRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>processType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountName</name>
                <value>
                    <elementReference>accountName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountRecord</name>
                <value>
                    <elementReference>accountRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactRecord</name>
                <value>
                    <elementReference>contactRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>faultMessage</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isIframe</name>
                <value>
                    <elementReference>isIframe</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedEventIds</name>
                <value>
                    <elementReference>allowedEventIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regLinkId</name>
                <value>
                    <elementReference>regLinkId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationTypes</name>
                <value>
                    <elementReference>allowedLocationTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeIds</name>
                <value>
                    <elementReference>attendeeIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeExpirationDateTime</name>
                <value>
                    <elementReference>attendeeExpirationDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isEventPaid</name>
                <value>
                    <elementReference>isEventPaid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSoldOut</name>
                <value>
                    <elementReference>isSoldOut</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isStartOver</name>
                <value>
                    <elementReference>isStartOver</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAttendeePredefined</name>
                <value>
                    <elementReference>isAttendeePredefined</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>categoryId</assignToReference>
                <name>categoryIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationId</assignToReference>
                <name>locationIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationType</assignToReference>
                <name>locationTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processId</assignToReference>
                <name>processIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>timezone</assignToReference>
                <name>timezoneOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>seats</assignToReference>
                <name>seatsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>eventId</assignToReference>
                <name>eventIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>clientId</assignToReference>
                <name>clientIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationIds</assignToReference>
                <name>allowedLocationIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedCategoryIds</assignToReference>
                <name>allowedCategoryIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord</assignToReference>
                <name>leadRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountName</assignToReference>
                <name>accountNameOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountRecord</assignToReference>
                <name>accountRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactRecord</assignToReference>
                <name>contactRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processType</assignToReference>
                <name>processTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedEventIds</assignToReference>
                <name>allowedEventIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>regLinkId</assignToReference>
                <name>regLinkIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationTypes</assignToReference>
                <name>allowedLocationTypesOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>navigationDirection</assignToReference>
                <name>navigationDirectionOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSoldOut</assignToReference>
                <name>isSoldOutOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isStartOver</assignToReference>
                <name>isStartOverOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isEventPaid</assignToReference>
                <name>isEventPaidOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>whenScreen</name>
        <label>When</label>
        <locationX>1402</locationX>
        <locationY>658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showDetail</targetReference>
        </connector>
        <fields>
            <name>whenComponent</name>
            <extensionName>sumoapp:eventRegistrationWhenScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>categoryId</name>
                <value>
                    <elementReference>categoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>locationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationType</name>
                <value>
                    <elementReference>locationType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processId</name>
                <value>
                    <elementReference>processId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedCategoryIds</name>
                <value>
                    <elementReference>allowedCategoryIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationIds</name>
                <value>
                    <elementReference>allowedLocationIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientId</name>
                <value>
                    <elementReference>clientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>eventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>seats</name>
                <value>
                    <elementReference>seats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timezone</name>
                <value>
                    <elementReference>timezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadRecord</name>
                <value>
                    <elementReference>leadRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>processType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountName</name>
                <value>
                    <elementReference>accountName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountRecord</name>
                <value>
                    <elementReference>accountRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactRecord</name>
                <value>
                    <elementReference>contactRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>faultMessage</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isIframe</name>
                <value>
                    <elementReference>isIframe</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedEventIds</name>
                <value>
                    <elementReference>allowedEventIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regLinkId</name>
                <value>
                    <elementReference>regLinkId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationTypes</name>
                <value>
                    <elementReference>allowedLocationTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeIds</name>
                <value>
                    <elementReference>attendeeIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeExpirationDateTime</name>
                <value>
                    <elementReference>attendeeExpirationDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSoldOut</name>
                <value>
                    <elementReference>isSoldOut</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isStartOver</name>
                <value>
                    <elementReference>isStartOver</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>categoryId</assignToReference>
                <name>categoryIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationId</assignToReference>
                <name>locationIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationType</assignToReference>
                <name>locationTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processId</assignToReference>
                <name>processIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>timezone</assignToReference>
                <name>timezoneOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>seats</assignToReference>
                <name>seatsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>eventId</assignToReference>
                <name>eventIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>clientId</assignToReference>
                <name>clientIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationIds</assignToReference>
                <name>allowedLocationIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedCategoryIds</assignToReference>
                <name>allowedCategoryIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord</assignToReference>
                <name>leadRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountName</assignToReference>
                <name>accountNameOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountRecord</assignToReference>
                <name>accountRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactRecord</assignToReference>
                <name>contactRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processType</assignToReference>
                <name>processTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedEventIds</assignToReference>
                <name>allowedEventIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>regLinkId</assignToReference>
                <name>regLinkIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationTypes</assignToReference>
                <name>allowedLocationTypesOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeExpirationDateTime</assignToReference>
                <name>attendeeExpirationDateTimeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeIds</assignToReference>
                <name>attendeeIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>navigationDirection</assignToReference>
                <name>navigationDirectionOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSoldOut</assignToReference>
                <name>isSoldOutOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isStartOver</assignToReference>
                <name>isStartOverOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>whereScreen</name>
        <label>Where</label>
        <locationX>929</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetPreconditions</targetReference>
        </connector>
        <fields>
            <name>whereComponent</name>
            <extensionName>sumoapp:eventRegistrationWhereScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>categoryId</name>
                <value>
                    <elementReference>categoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>locationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationType</name>
                <value>
                    <elementReference>locationType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processId</name>
                <value>
                    <elementReference>processId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedCategoryIds</name>
                <value>
                    <elementReference>allowedCategoryIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationIds</name>
                <value>
                    <elementReference>allowedLocationIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientId</name>
                <value>
                    <elementReference>clientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>eventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>seats</name>
                <value>
                    <elementReference>seats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timezone</name>
                <value>
                    <elementReference>timezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadRecord</name>
                <value>
                    <elementReference>leadRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>processType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountName</name>
                <value>
                    <elementReference>accountName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountRecord</name>
                <value>
                    <elementReference>accountRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactRecord</name>
                <value>
                    <elementReference>contactRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>faultMessage</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isIframe</name>
                <value>
                    <elementReference>isIframe</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedEventIds</name>
                <value>
                    <elementReference>allowedEventIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regLinkId</name>
                <value>
                    <elementReference>regLinkId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowedLocationTypes</name>
                <value>
                    <elementReference>allowedLocationTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeIds</name>
                <value>
                    <elementReference>attendeeIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeExpirationDateTime</name>
                <value>
                    <elementReference>attendeeExpirationDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSoldOut</name>
                <value>
                    <elementReference>isSoldOut</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isStartOver</name>
                <value>
                    <elementReference>isStartOver</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>categoryId</assignToReference>
                <name>categoryIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationId</assignToReference>
                <name>locationIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationType</assignToReference>
                <name>locationTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processId</assignToReference>
                <name>processIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>timezone</assignToReference>
                <name>timezoneOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>seats</assignToReference>
                <name>seatsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>eventId</assignToReference>
                <name>eventIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>clientId</assignToReference>
                <name>clientIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationIds</assignToReference>
                <name>allowedLocationIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedCategoryIds</assignToReference>
                <name>allowedCategoryIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord</assignToReference>
                <name>leadRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountName</assignToReference>
                <name>accountNameOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountRecord</assignToReference>
                <name>accountRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactRecord</assignToReference>
                <name>contactRecordOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>processType</assignToReference>
                <name>processTypeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedEventIds</assignToReference>
                <name>allowedEventIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>regLinkId</assignToReference>
                <name>regLinkIdOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allowedLocationTypes</assignToReference>
                <name>allowedLocationTypesOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeExpirationDateTime</assignToReference>
                <name>attendeeExpirationDateTimeOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attendeeIds</assignToReference>
                <name>attendeeIdsOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>navigationDirection</assignToReference>
                <name>navigationDirectionOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSoldOut</assignToReference>
                <name>isSoldOutOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isStartOver</assignToReference>
                <name>isStartOverOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>137</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>initialize</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Person Account object record</description>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>allowedCategoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>allowedCategoryIdsLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>allowedEventIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>allowedLocationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>allowedLocationIdsLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>allowedLocationTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>allowedLocationTypesLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>attendeeExpirationDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>attendeeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>categoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Contact object record</description>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>eventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isAttendeePredefined</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isEventPaid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isIframe</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSoldOut</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isStartOver</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Lead object record</description>
        <name>leadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>locationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>navigationDirection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>regLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>seats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>skipCategory</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>timezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
