flows/sumoapp__EventBooked.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Initialize</name>
        <label>Initialize</label>
        <locationX>244</locationX>
        <locationY>333</locationY>
        <actionName>sumoapp:eventRegistrationInitializeAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>BookedComponent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GlobalErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processId</name>
            <value>
                <elementReference>processId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>clientId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sumoapp:eventRegistrationInitializeAction</nameSegment>
        <outputParameters>
            <assignToReference>processId</assignToReference>
            <name>processId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>eventId</assignToReference>
            <name>eventId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>clientId</assignToReference>
            <name>clientId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isEventPaid</assignToReference>
            <name>isEventPaid</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Event Booked {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Event Booked</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>BookedComponent</name>
        <label>Booked Screen</label>
        <locationX>766</locationX>
        <locationY>333</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BookedScreen</name>
            <extensionName>sumoapp:eventRegistrationBookedScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>eventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processId</name>
                <value>
                    <elementReference>processId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientId</name>
                <value>
                    <elementReference>clientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isEventPaid</name>
                <value>
                    <elementReference>isEventPaid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GlobalErrorScreen</name>
        <label>Global Error Screen</label>
        <locationX>242</locationX>
        <locationY>639</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GlobalErrorConponent</name>
            <extensionName>sumoapp:eventRegistrationGlobalErrorScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>118</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>Initialize</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isEventPaid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>processId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
