flows/sumoapp__OnlineScheduler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>EventExists</name>
        <label>Event Exists</label>
        <locationX>685</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>ShowLeadDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>EventExistsDecisionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.isReschedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BookedScreen</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>RescheduleDecision</name>
        <label>Reschedule</label>
        <locationX>2246</locationX>
        <locationY>578</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>NavigateToReschedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.isReschedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhenScreen</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowAdditionalDataDecision</name>
        <label>Show Additional Data</label>
        <locationX>2169</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>ShowContactDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>ShowAdditionalDataDecisionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.showAdditionalData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>flowState.isReschedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdditionalDataScreen</targetReference>
            </connector>
            <label>Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowBookedDecision</name>
        <label>Show Booked</label>
        <locationX>2628</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>ShowBookedDecisionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.showBookedScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BookedScreen</targetReference>
            </connector>
            <label>Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowContactDecision</name>
        <label>Show Contact</label>
        <locationX>2405</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>ShowBookedDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>ShowContactDecisionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.showContactScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>flowState.isReschedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactScreen</targetReference>
            </connector>
            <label>Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowLeadDecision</name>
        <label>Show Lead</label>
        <locationX>690</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>ShowLocationTypeDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>ShowLeadDecisionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.showLeadScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadScreen</targetReference>
            </connector>
            <label>Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowLocationTypeDecision</name>
        <label>Show Location Type</label>
        <locationX>886</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>ShowWhereDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>ShowLocationTypeDecisionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.showLocationTypeScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>flowState.isReschedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LocationTypeScreen</targetReference>
            </connector>
            <label>Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowResourcesDecision_0</name>
        <label>Show Resources</label>
        <locationX>1474</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>ShowWhoDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>ShowWhatDecisionTrue_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.showResourcesScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResourcesScreen_0</targetReference>
            </connector>
            <label>Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowWhatDecision</name>
        <label>Show What</label>
        <locationX>1288</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>ShowResourcesDecision_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>ShowWhatDecisionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.showWhatScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhatScreen</targetReference>
            </connector>
            <label>Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowWhenDecision</name>
        <label>Show When</label>
        <locationX>1838</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>ShowAdditionalDataDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>ShowWhenDecisionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.showWhenScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhenScreen</targetReference>
            </connector>
            <label>Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowWhereDecision</name>
        <label>Show Where</label>
        <locationX>1083</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>ShowWhatDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>ShowWhereDecisionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.showWhereScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhereScreen</targetReference>
            </connector>
            <label>Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowWhoDecision</name>
        <label>Show Who</label>
        <locationX>1652</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>ShowWhenDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>ShowWhoDecisionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowState.showWhoScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhoScreen</targetReference>
            </connector>
            <label>Show</label>
        </rules>
    </decisions>
    <interviewLabel>Online Scheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Online Scheduler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>AdditionalDataScreen</name>
        <label>Additional Data Screen</label>
        <locationX>2207</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShowContactDecision</targetReference>
        </connector>
        <fields>
            <name>AdditionalDataScreenComponent</name>
            <extensionName>sumoapp:onlineSchedulerScreenV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>ADDITIONAL_DATA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowState</name>
                <value>
                    <elementReference>flowState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowState</assignToReference>
                <name>flowStateOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BookedScreen</name>
        <label>Booked Screen</label>
        <locationX>2639</locationX>
        <locationY>659</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RescheduleDecision</targetReference>
        </connector>
        <fields>
            <name>BookedScreenComponent</name>
            <extensionName>sumoapp:onlineSchedulerScreenV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>BOOKED</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowState</name>
                <value>
                    <elementReference>flowState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowState</assignToReference>
                <name>flowStateOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ContactScreen</name>
        <label>ContactScreen</label>
        <locationX>2408</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShowBookedDecision</targetReference>
        </connector>
        <fields>
            <name>ContactScreenComponent</name>
            <extensionName>sumoapp:onlineSchedulerScreenV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>CONTACT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowState</name>
                <value>
                    <elementReference>flowState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowState</assignToReference>
                <name>flowStateOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InitializeScreen</name>
        <label>Initialize</label>
        <locationX>571</locationX>
        <locationY>501</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EventExists</targetReference>
        </connector>
        <fields>
            <name>InitializeScreenComponent</name>
            <extensionName>sumoapp:onlineSchedulerScreenV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowState</name>
                <value>
                    <elementReference>flowState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowState</assignToReference>
                <name>flowStateOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LeadScreen</name>
        <label>Lead Screen</label>
        <locationX>797</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShowLocationTypeDecision</targetReference>
        </connector>
        <fields>
            <name>LeadScreenContainer</name>
            <extensionName>sumoapp:onlineSchedulerScreenV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>LEAD</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowState</name>
                <value>
                    <elementReference>flowState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowState</assignToReference>
                <name>flowStateOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LocationTypeScreen</name>
        <label>Location Type Screen</label>
        <locationX>992</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShowWhereDecision</targetReference>
        </connector>
        <fields>
            <name>LocationTypeScreenComponent</name>
            <extensionName>sumoapp:onlineSchedulerScreenV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>LOCATION_TYPE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowState</name>
                <value>
                    <elementReference>flowState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowState</assignToReference>
                <name>flowStateOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ResourcesScreen_0</name>
        <label>Resources Screen</label>
        <locationX>1570</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShowWhoDecision</targetReference>
        </connector>
        <fields>
            <name>ResourcesScreenComponent_0</name>
            <extensionName>sumoapp:onlineSchedulerScreenV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>RESOURCES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowState</name>
                <value>
                    <elementReference>flowState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowState</assignToReference>
                <name>flowStateOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WhatScreen</name>
        <label>What Screen</label>
        <locationX>1392</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShowResourcesDecision_0</targetReference>
        </connector>
        <fields>
            <name>WhatScreenComponent</name>
            <extensionName>sumoapp:onlineSchedulerScreenV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>WHAT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowState</name>
                <value>
                    <elementReference>flowState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowState</assignToReference>
                <name>flowStateOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WhenScreen</name>
        <label>When Screen</label>
        <locationX>1916</locationX>
        <locationY>498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShowAdditionalDataDecision</targetReference>
        </connector>
        <fields>
            <name>WhenScreenComponent</name>
            <extensionName>sumoapp:onlineSchedulerScreenV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>WHEN</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isLastStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowState</name>
                <value>
                    <elementReference>flowState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowState</assignToReference>
                <name>flowStateOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WhereScreen</name>
        <label>Where Screen</label>
        <locationX>1190</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShowWhatDecision</targetReference>
        </connector>
        <fields>
            <name>WhereScreenComponent</name>
            <extensionName>sumoapp:onlineSchedulerScreenV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>WHERE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowState</name>
                <value>
                    <elementReference>flowState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowState</assignToReference>
                <name>flowStateOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WhoScreen</name>
        <label>Who Screen</label>
        <locationX>1755</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShowWhenDecision</targetReference>
        </connector>
        <fields>
            <name>WhoScreenComponent</name>
            <extensionName>sumoapp:onlineSchedulerScreenV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>WHO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowState</name>
                <value>
                    <elementReference>flowState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowState</assignToReference>
                <name>flowStateOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>InitializeScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flowState</name>
        <apexClass>sumoapp__FlowOnlineSchedulerState</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
