flows/SUMO_Send_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Facilitator_Canceled_Course_Email</name>
        <label>Facilitator Canceled Course Email</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Valid_Appointment_Course_Host_Offer_Appointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Facilitator__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>FacilitatorCancelCourse_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FacilitatorHTMLBody_CancelCourse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Facilitator_New_Course_Email</name>
        <label>Facilitator New Course Email</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Valid_Appointment_Course_Host_Offer_Appointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Facilitator__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>FacilitatorNewCourse_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FacilitatorHTMLBody_NewCourse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Facilitator_Reminder_Course_Email</name>
        <label>Facilitator Reminder Course Email</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Valid_Appointment_Course_Host_Offer_Appointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Facilitator__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>FacilitatorReminderCourse_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FacilitatorHTMLBody_ReminderCourse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Facilitator_Update_Course_Email</name>
        <label>Facilitator Update Course Email</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Valid_Appointment_Course_Host_Offer_Appointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Facilitator__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>FacilitatorUpdateCourse_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FacilitatorHTMLBody_UpdateCourse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Presenter_Canceled_Course_Email</name>
        <label>Presenter Canceled Course Email</label>
        <locationX>1194</locationX>
        <locationY>2039</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Presenter__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>PresenterCancelCourse_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PresenterHTMLBody_CancelCourse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Presenter_New_Course_Email</name>
        <label>Presenter New Course Email</label>
        <locationX>402</locationX>
        <locationY>2039</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Presenter__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>PresenterNewCourse_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PresenterHTMLBody_NewCourse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Presenter_Reminder_Course_Email</name>
        <label>Presenter Reminder Course Email</label>
        <locationX>930</locationX>
        <locationY>2039</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Presenter__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>PresenterReminderCourse_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PresenterHTMLBody_ReminderCourse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Presenter_Update_Course_Email</name>
        <label>Presenter Update Course Email</label>
        <locationX>666</locationX>
        <locationY>2039</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Presenter__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>PresenterUpdateCourse_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PresenterHTMLBody_UpdateCourse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Generated_Email_To_Attendee</name>
        <label>Send Generated Email To Attendee</label>
        <locationX>1458</locationX>
        <locationY>947</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Valid_Appointment_Course_Host_Offer_Appointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.sumoapp__EmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Record.sumoapp__Subject__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Record.sumoapp__HtmlBody__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendGeneratedEmail</name>
        <label>Send Generated Email</label>
        <locationX>1194</locationX>
        <locationY>1631</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_Presenter_Valid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Record.sumoapp__HtmlBody__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.sumoapp__EmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Record.sumoapp__Subject__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Type</name>
        <label>Check Type</label>
        <locationX>1326</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Check_Valid_Appointment_Course_Host_Offer_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sumoapp__RecipientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OWNER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Facilitator_Valid</targetReference>
            </connector>
            <label>Is Owner</label>
        </rules>
        <rules>
            <name>Attendee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sumoapp__RecipientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATTENDEE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Generated_Email_To_Attendee</targetReference>
            </connector>
            <label>Attendee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Valid_Appointment_Course_Host_Offer_Appointment</name>
        <label>Check Valid Appointment/Course Host/Offer Appointment</label>
        <locationX>1326</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Is_Presenter_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Counsellor</name>
            <conditionLogic>(1 AND 2 ) OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sumoapp__RecipientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OWNER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sumoapp__RecipientType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sumoapp__RecipientType__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>SendGeneratedEmail</targetReference>
            </connector>
            <label>Valid Hosts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Facilitator_Check_Sending_Type</name>
        <label>Facilitator Check Sending Type</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Check_Valid_Appointment_Course_Host_Offer_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facilitator_New_Course</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOOKED_SF_ONLY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOOKED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Facilitator_New_Course_Email</targetReference>
            </connector>
            <label>Facilitator New Course</label>
        </rules>
        <rules>
            <name>Facilitator_Course_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UPDATED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UPDATED_SF_ONLY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Facilitator_Update_Course_Email</targetReference>
            </connector>
            <label>Facilitator Course Updated</label>
        </rules>
        <rules>
            <name>Facilitator_Course_Reminder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMINDER_SF_ONLY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMINDER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Facilitator_Reminder_Course_Email</targetReference>
            </connector>
            <label>Facilitator Course Reminder</label>
        </rules>
        <rules>
            <name>Facilitator_Course_Canceled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANCELED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANCELED_SF_ONLY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Facilitator_Canceled_Course_Email</targetReference>
            </connector>
            <label>Facilitator Course Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_For_User</name>
        <label>Is Active For User</label>
        <locationX>1656</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SumoEmailAutomationBypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event_Record</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Course_Parent</name>
        <label>Is Course Parent?</label>
        <locationX>1326</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Record.sumoapp__AdditionalInfo__r.IsParent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Course_Parent</targetReference>
            </connector>
            <label>Not Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Facilitator_Valid</name>
        <label>Is Facilitator Valid</label>
        <locationX>930</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Check_Valid_Appointment_Course_Host_Offer_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facilitator_Email_Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Facilitator__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Facilitator__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Facilitator_Check_Sending_Type</targetReference>
            </connector>
            <label>Facilitator Email Is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Presenter_Valid</name>
        <label>Is Presenter Valid</label>
        <locationX>1326</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Presenter_Email_is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Presenter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Presenter__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sumoapp__RecipientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OWNER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event_Record.sumoapp__AdditionalInfo__r.Presenter__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Presenter_Check_Sending_Type</targetReference>
            </connector>
            <label>Presenter Email is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Presenter_Check_Sending_Type</name>
        <label>Presenter Check Sending Type</label>
        <locationX>930</locationX>
        <locationY>1931</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Presenter_New_Course</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOOKED_SF_ONLY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOOKED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Presenter_New_Course_Email</targetReference>
            </connector>
            <label>Presenter New Course</label>
        </rules>
        <rules>
            <name>Presenter_Course_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UPDATED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UPDATED_SF_ONLY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Presenter_Update_Course_Email</targetReference>
            </connector>
            <label>Presenter Course Updated</label>
        </rules>
        <rules>
            <name>Presenter_Course_Reminder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMINDER_SF_ONLY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMINDER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Presenter_Reminder_Course_Email</targetReference>
            </connector>
            <label>Presenter Course Reminder</label>
        </rules>
        <rules>
            <name>Presenter_Course_Canceled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANCELED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sumoapp__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANCELED_SF_ONLY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Presenter_Canceled_Course_Email</targetReference>
            </connector>
            <label>Presenter Course Canceled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CourseName</name>
        <dataType>String</dataType>
        <expression>{!Get_Event_Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>CourseStartDate</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Event_Record.sumoapp__AdditionalInfo__r.IsParent__c},TEXT(DATEVALUE({!Get_Event_Record.sumoapp__AdditionalInfo__r.sumoapp__StartDatetime__c})), TEXT(DATEVALUE({!Get_Course_Parent.sumoapp__StartDatetime__c})))</expression>
    </formulas>
    <formulas>
        <name>FacilitatorCancelCourse_Body1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.FacilitatorCancelCourse_Body1}, &apos;CourseName&apos;, {!CourseName})</expression>
    </formulas>
    <formulas>
        <name>FacilitatorCancelCourse_Body2</name>
        <dataType>String</dataType>
        <expression>{!$Label.FacilitatorCancelCourse_Body2}</expression>
    </formulas>
    <formulas>
        <name>FacilitatorCancelCourse_Subject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.FacilitatorCancelCourse_Subject}, &apos;CourseName&apos;, {!CourseName})</expression>
    </formulas>
    <formulas>
        <name>FacilitatorHTMLBody_CancelCourse</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.sumoapp__HtmlBody__c}, &apos;body1&apos;, {!FacilitatorCancelCourse_Body1}), &apos;body2&apos;, {!FacilitatorCancelCourse_Body2}), &apos;Username&apos;, {!FacilitatorName})</expression>
    </formulas>
    <formulas>
        <name>FacilitatorHTMLBody_NewCourse</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.sumoapp__HtmlBody__c}, &apos;body1&apos;, {!FacilitatorNewCourse_Body1}), &apos;body2&apos;, {!FacilitatorNewCourse_Body2}), &apos;Username&apos;, {!FacilitatorName})</expression>
    </formulas>
    <formulas>
        <name>FacilitatorHTMLBody_ReminderCourse</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Record.sumoapp__HtmlBody__c}, &apos;body1&apos;, {!FacilitatorReminderCourse_Body1}), &apos;Username&apos;, {!FacilitatorName})</expression>
    </formulas>
    <formulas>
        <name>FacilitatorHTMLBody_UpdateCourse</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.sumoapp__HtmlBody__c}, &apos;body1&apos;, {!FacilitatorUpdateCourse_Body1}), &apos;body2&apos;, {!FacilitatorUpdateCourse_Body2}), &apos;Username&apos;, {!FacilitatorName})</expression>
    </formulas>
    <formulas>
        <name>FacilitatorName</name>
        <dataType>String</dataType>
        <expression>{!Get_Event_Record.sumoapp__AdditionalInfo__r.Facilitator__r.FirstName} +&apos; &apos; + {!Get_Event_Record.sumoapp__AdditionalInfo__r.Facilitator__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>FacilitatorNewCourse_Body1</name>
        <dataType>String</dataType>
        <expression>{!$Label.FacilitatorNewCourse_Body1}</expression>
    </formulas>
    <formulas>
        <name>FacilitatorNewCourse_Body2</name>
        <dataType>String</dataType>
        <expression>{!$Label.FacilitatorNewCourse_Body2}</expression>
    </formulas>
    <formulas>
        <name>FacilitatorNewCourse_Subject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Label.FacilitatorNewCourse_Subject}, &apos;CourseName&apos;, {!CourseName}), &apos;StartDateTime&apos;, {!CourseStartDate} )</expression>
    </formulas>
    <formulas>
        <name>FacilitatorReminderCourse_Body1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.FacilitatorReminderCourse_Body1}, &apos;CourseName&apos;, {!CourseName})</expression>
    </formulas>
    <formulas>
        <name>FacilitatorReminderCourse_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Label.FacilitatorReminderCourse_Subject}</expression>
    </formulas>
    <formulas>
        <name>FacilitatorUpdateCourse_Body1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.FacilitatorUpdateCourse_Body1}, &apos;CourseName&apos;, {!CourseName})</expression>
    </formulas>
    <formulas>
        <name>FacilitatorUpdateCourse_Body2</name>
        <dataType>String</dataType>
        <expression>{!$Label.FacilitatorUpdateCourse_Body2}</expression>
    </formulas>
    <formulas>
        <name>FacilitatorUpdateCourse_Subject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.FacilitatorUpdateCourse_Subject}, &apos;CourseName&apos;, {!CourseName})</expression>
    </formulas>
    <formulas>
        <name>PresenterCancelCourse_Body1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.PresenterCancelCourse_Body1}, &apos;CourseName&apos;, {!CourseName})</expression>
    </formulas>
    <formulas>
        <name>PresenterCancelCourse_Body2</name>
        <dataType>String</dataType>
        <expression>{!$Label.PresenterCancelCourse_Body2}</expression>
    </formulas>
    <formulas>
        <name>PresenterCancelCourse_Subject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.PresenterCancelCourse_Subject}, &apos;CourseName&apos;, {!CourseName})</expression>
    </formulas>
    <formulas>
        <name>PresenterHTMLBody_CancelCourse</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.sumoapp__HtmlBody__c}, &apos;body1&apos;, {!PresenterCancelCourse_Body1}), &apos;body2&apos;, {!PresenterCancelCourse_Body2}), &apos;Username&apos;, {!PresenterName})</expression>
    </formulas>
    <formulas>
        <name>PresenterHTMLBody_NewCourse</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.sumoapp__HtmlBody__c}, &apos;body1&apos;, {!PresenterNewCourse_Body1}), &apos;body2&apos;, {!PresenterNewCourse_Body2}), &apos;Username&apos;, {!PresenterName})</expression>
    </formulas>
    <formulas>
        <name>PresenterHTMLBody_ReminderCourse</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Record.sumoapp__HtmlBody__c}, &apos;body1&apos;, {!PresenterReminderCourse_Body1}), &apos;Username&apos;, {!PresenterName})</expression>
    </formulas>
    <formulas>
        <name>PresenterHTMLBody_UpdateCourse</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.sumoapp__HtmlBody__c}, &apos;body1&apos;, {!PresenterUpdateCourse_Body1}), &apos;body2&apos;, {!PresenterUpdateCourse_Body2}), &apos;Username&apos;, {!PresenterName})</expression>
    </formulas>
    <formulas>
        <name>PresenterName</name>
        <dataType>String</dataType>
        <expression>{!Get_Event_Record.sumoapp__AdditionalInfo__r.Presenter__r.FirstName} +&apos; &apos; + {!Get_Event_Record.sumoapp__AdditionalInfo__r.Presenter__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>PresenterNewCourse_Body1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Label.PresenterNewCourse_Body1}, &apos;CourseName&apos;, {!CourseName}), &apos;StartDateTime&apos;, {!CourseStartDate} )</expression>
    </formulas>
    <formulas>
        <name>PresenterNewCourse_Body2</name>
        <dataType>String</dataType>
        <expression>{!$Label.PresenterNewCourse_Body2}</expression>
    </formulas>
    <formulas>
        <name>PresenterNewCourse_Subject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Label.PresenterNewCourse_Subject}, &apos;CourseName&apos;, {!CourseName}), &apos;StartDateTime&apos;, {!CourseStartDate} )</expression>
    </formulas>
    <formulas>
        <name>PresenterReminderCourse_Body1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Label.PresenterReminderCourse_Body1}, &apos;CourseName&apos;, {!CourseName}), &apos;AgencyPhone&apos;, {!$Label.AgencyProfilePhone})</expression>
    </formulas>
    <formulas>
        <name>PresenterReminderCourse_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Label.PresenterReminderCourse_Subject}</expression>
    </formulas>
    <formulas>
        <name>PresenterUpdateCourse_Body1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.PresenterUpdateCourse_Body1}, &apos;CourseName&apos;, {!CourseName})</expression>
    </formulas>
    <formulas>
        <name>PresenterUpdateCourse_Body2</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Label.PresenterUpdateCourse_Body2}, &apos;AgencyName&apos;, {!$Label.AgencyProfileName}), &apos;AgencyEmailAddress&apos;, {!$Label.AgencyProfileEmail})</expression>
    </formulas>
    <formulas>
        <name>PresenterUpdateCourse_Subject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.PresenterUpdateCourse_Subject}, &apos;CourseName&apos;, {!CourseName})</expression>
    </formulas>
    <interviewLabel>SUMO Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUMO Send Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course_Parent</name>
        <label>Get Course Parent</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Record.sumoapp__AdditionalInfo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sumoapp__AdditionalInfo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Record</name>
        <label>Get Event Record</label>
        <locationX>1326</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Course_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sumoapp__Relation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>sumoapp__SendEmail</sourceTemplate>
    <start>
        <locationX>1530</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Active_For_User</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sumoapp__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SUCCESS</stringValue>
            </value>
        </filters>
        <filters>
            <field>sumoapp__EmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sumoapp__Email__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
