flows/Update_Demographics_on_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_1st_Time_Home_Buyer_value_on_contact</name>
        <label>Set 1st Time Home Buyer value on contact</label>
        <locationX>50</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.X1stTimeHomeBuyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.X1stTimeHomeBuyer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Current_Residence_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_Military_value_on_contact</name>
        <label>Set Active Military value on contact</label>
        <locationX>50</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.ActiveMilitary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.ActiveMilitary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Veteran_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_address_Line2</name>
        <label>Set address Line2</label>
        <locationX>50</locationX>
        <locationY>6158</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.MailingAddressLine2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.MailingAddressLine2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Farm_worker_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_City</name>
        <label>Set City</label>
        <locationX>50</locationX>
        <locationY>4958</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_State_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Colonias_Residence</name>
        <label>Set Colonias Residence</label>
        <locationX>50</locationX>
        <locationY>6758</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.ColoniasResidence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.ColoniasResidence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Occupation_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Country</name>
        <label>Set Country</label>
        <locationX>50</locationX>
        <locationY>5558</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_ZipCode_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Residence_on_Contact</name>
        <label>Set Current Residence on Contact</label>
        <locationX>50</locationX>
        <locationY>4058</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.CurrentResidence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.CurrentResidence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Total_Monthly_Income_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Education_value_on_contact</name>
        <label>Set Education value on contact</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.Education__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Education__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Martial_status_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_English_Proficiency_value_on_contact</name>
        <label>Set English Proficiency value on contact</label>
        <locationX>50</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.EnglishProficiency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.EnglishProficiency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Active_Military_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ethnicity_value_on_contact</name>
        <label>Set Ethnicity value on contact</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.Ethnicity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Ethnicity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Gender_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Farm_Worker</name>
        <label>Set Farm Worker</label>
        <locationX>50</locationX>
        <locationY>6458</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.FarmWorker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.FarmWorker__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Colonias_Residence_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gender_value_on_contact</name>
        <label>Set Gender value on contact</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Household_Type_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Household_Type_value_on_contact</name>
        <label>Set Household Type value on contact</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.HouseholdType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.HouseholdType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Education_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Id_on_contact</name>
        <label>Set Id on contact</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.PrimaryClient__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Race_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Martial_status_value_on_contact</name>
        <label>Set Martial status value on contact</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.MaritalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.MaritalStatus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Number_in_Household_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Monthly_Creditor_s_Debt</name>
        <label>Set Monthly Creditor’s Debt</label>
        <locationX>50</locationX>
        <locationY>7658</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.MonthlyCreditorsDebt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.MonthlyCreditorsDebt__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_in_Household_value_on_contact</name>
        <label>Set Number in Household value on contact</label>
        <locationX>50</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.HouseholdSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.HouseholdSize__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Rural_Status_Household_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Occupation</name>
        <label>Set Occupation</label>
        <locationX>50</locationX>
        <locationY>7058</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.Occupation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Occupation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Occupation_Start_Date_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Occupation_Start_Date</name>
        <label>Set Occupation Start Date</label>
        <locationX>50</locationX>
        <locationY>7358</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.OccupationStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.OccupationStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Monthly_Creditor_s_Debt_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Race_value_on_Contact</name>
        <label>Set Race value on Contact</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.Race__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Race__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Ethnicity_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rural_Status_Household_value_on_contact</name>
        <label>Set Rural Status (Household) value on contact</label>
        <locationX>50</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.RuralAreaStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.RuralAreaStatus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_English_Proficiency_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_State</name>
        <label>Set State</label>
        <locationX>50</locationX>
        <locationY>5258</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.MailingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Country_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Street</name>
        <label>Set Street</label>
        <locationX>50</locationX>
        <locationY>4658</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_City_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Monthly_Income_on_Contact</name>
        <label>Set Total Monthly Income on Contact</label>
        <locationX>50</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.TotalMonthlyIncome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.MonthlyIncome__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Street_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Veteran_value_on_contact</name>
        <label>Set Veteran value on contact</label>
        <locationX>50</locationX>
        <locationY>3458</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.Veteran__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Veteran__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_1st_Time_Home_Buyer_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_zip</name>
        <label>Set zip</label>
        <locationX>50</locationX>
        <locationY>5858</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactToUpdate.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ClientCase.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_AddressLine2_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_AddressLine2_changed</name>
        <label>Has AddressLine2 changed?</label>
        <locationX>182</locationX>
        <locationY>6050</locationY>
        <defaultConnector>
            <targetReference>Has_Farm_worker_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zip not updated</defaultConnectorLabel>
        <rules>
            <name>AddressLine2_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.MailingAddressLine2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.MailingAddressLine2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_address_Line2</targetReference>
            </connector>
            <label>AddressLine2 changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_City_changed</name>
        <label>Has City changed?</label>
        <locationX>182</locationX>
        <locationY>4850</locationY>
        <defaultConnector>
            <targetReference>Has_State_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Street not updated</defaultConnectorLabel>
        <rules>
            <name>City_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.Address__City__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.Address__City__s</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_City</targetReference>
            </connector>
            <label>City Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Colonias_Residence_changed</name>
        <label>Has Colonias Residence changed?</label>
        <locationX>182</locationX>
        <locationY>6650</locationY>
        <defaultConnector>
            <targetReference>Has_Occupation_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Colonias Residence  not updated</defaultConnectorLabel>
        <rules>
            <name>Colonias_Residence_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.ColoniasResidence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.ColoniasResidence__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Colonias_Residence</targetReference>
            </connector>
            <label>Colonias Residence Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Country_changed</name>
        <label>Has Country changed?</label>
        <locationX>182</locationX>
        <locationY>5450</locationY>
        <defaultConnector>
            <targetReference>Has_ZipCode_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Street not updated</defaultConnectorLabel>
        <rules>
            <name>Country_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.Address__CountryCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.Address__CountryCode__s</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Country</targetReference>
            </connector>
            <label>Country changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Farm_worker_changed</name>
        <label>Has Farm worker changed?</label>
        <locationX>182</locationX>
        <locationY>6350</locationY>
        <defaultConnector>
            <targetReference>Has_Colonias_Residence_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Farm Worker  not updated</defaultConnectorLabel>
        <rules>
            <name>Farm_Worker_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.FarmWorker__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.FarmWorker__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Farm_Worker</targetReference>
            </connector>
            <label>Farm Worker Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Monthly_Creditor_s_Debt_changed</name>
        <label>Has Monthly Creditor’s Debt changed?</label>
        <locationX>182</locationX>
        <locationY>7550</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Monthly Creditor’s Debt not updated</defaultConnectorLabel>
        <rules>
            <name>Monthly_Creditor_s_Debt_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.MonthlyCreditorsDebt__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.MonthlyCreditorsDebt__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Monthly_Creditor_s_Debt</targetReference>
            </connector>
            <label>Monthly Creditor’s Debt Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Occupation_changed</name>
        <label>Has Occupation changed?</label>
        <locationX>182</locationX>
        <locationY>6950</locationY>
        <defaultConnector>
            <targetReference>Has_Occupation_Start_Date_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Occupation  not updated</defaultConnectorLabel>
        <rules>
            <name>Occupation_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.Occupation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.Occupation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Occupation</targetReference>
            </connector>
            <label>Occupation Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Occupation_Start_Date_changed</name>
        <label>Has Occupation Start Date changed?</label>
        <locationX>182</locationX>
        <locationY>7250</locationY>
        <defaultConnector>
            <targetReference>Has_Monthly_Creditor_s_Debt_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Occupation Start Date not updated</defaultConnectorLabel>
        <rules>
            <name>Occupation_Start_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.OccupationStartDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.OccupationStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Occupation_Start_Date</targetReference>
            </connector>
            <label>Occupation Start Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_State_changed</name>
        <label>Has_State_changed?</label>
        <locationX>182</locationX>
        <locationY>5150</locationY>
        <defaultConnector>
            <targetReference>Has_Country_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Street not updated</defaultConnectorLabel>
        <rules>
            <name>State_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.Address__StateCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.Address__StateCode__s</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_State</targetReference>
            </connector>
            <label>State changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Street_changed</name>
        <label>Has Street changed?</label>
        <locationX>182</locationX>
        <locationY>4550</locationY>
        <defaultConnector>
            <targetReference>Has_City_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Street not updated</defaultConnectorLabel>
        <rules>
            <name>Street_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.Address__Street__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.Address__Street__s</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Street</targetReference>
            </connector>
            <label>Street changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_ZipCode_changed</name>
        <label>Has ZipCode changed?</label>
        <locationX>182</locationX>
        <locationY>5750</locationY>
        <defaultConnector>
            <targetReference>Has_AddressLine2_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zip not updated</defaultConnectorLabel>
        <rules>
            <name>ZipCode_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.Address__PostalCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.Address__PostalCode__s</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_zip</targetReference>
            </connector>
            <label>ZipCode changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_1st_Time_Home_Buyer_updated</name>
        <label>Is 1st Time Home Buyer updated?</label>
        <locationX>182</locationX>
        <locationY>3650</locationY>
        <defaultConnector>
            <targetReference>Is_Current_Residence_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1st Time Home Buyer not updated</defaultConnectorLabel>
        <rules>
            <name>X1st_Time_Home_Buyer_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.X1stTimeHomeBuyer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.X1stTimeHomeBuyer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_1st_Time_Home_Buyer_value_on_contact</targetReference>
            </connector>
            <label>1st Time Home Buyer updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_Military_updated</name>
        <label>Is Active Military updated?</label>
        <locationX>182</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>Is_Veteran_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active Military not updated</defaultConnectorLabel>
        <rules>
            <name>Active_Military_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.ActiveMilitary__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.ActiveMilitary__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_Military_value_on_contact</targetReference>
            </connector>
            <label>Active Military updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Residence_updated</name>
        <label>Is Current Residence updated?</label>
        <locationX>182</locationX>
        <locationY>3950</locationY>
        <defaultConnector>
            <targetReference>Is_Total_Monthly_Income_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current Residence not updated</defaultConnectorLabel>
        <rules>
            <name>Current_Residence_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.CurrentResidence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.CurrentResidence__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Residence_on_Contact</targetReference>
            </connector>
            <label>Current Residence updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Education_updated</name>
        <label>Is Education updated?</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Is_Martial_status_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Education not updated</defaultConnectorLabel>
        <rules>
            <name>Education_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.Education__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.Education__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Education_value_on_contact</targetReference>
            </connector>
            <label>Education updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_English_Proficiency_updated</name>
        <label>Is English Proficiency updated?</label>
        <locationX>182</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Is_Active_Military_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English Proficiency not updated</defaultConnectorLabel>
        <rules>
            <name>English_Proficiency_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.EnglishProficiency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.EnglishProficiency__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_English_Proficiency_value_on_contact</targetReference>
            </connector>
            <label>English Proficiency updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ethnicity_updated</name>
        <label>Is Ethnicity updated</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Is_Gender_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ethnicity not updated</defaultConnectorLabel>
        <rules>
            <name>Ethnicity_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.Ethnicity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.Ethnicity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Ethnicity_value_on_contact</targetReference>
            </connector>
            <label>Ethnicity updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Gender_updated</name>
        <label>Is Gender updated</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Is_Household_Type_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gender not updated</defaultConnectorLabel>
        <rules>
            <name>Gender_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.Gender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.Gender__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gender_value_on_contact</targetReference>
            </connector>
            <label>Gender updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Household_Type_updated</name>
        <label>Is Household Type updated?</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Is_Education_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Household Type not updated</defaultConnectorLabel>
        <rules>
            <name>Household_Type_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.HouseholdType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.HouseholdType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Household_Type_value_on_contact</targetReference>
            </connector>
            <label>Household Type updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Martial_status_updated</name>
        <label>Is Martial status updated?</label>
        <locationX>182</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Is_Number_in_Household_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Martial status not updated</defaultConnectorLabel>
        <rules>
            <name>Martial_status_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.MaritalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.MaritalStatus__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Martial_status_value_on_contact</targetReference>
            </connector>
            <label>Martial status updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Number_in_Household_updated</name>
        <label>Is Number in Household updated?</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Is_Rural_Status_Household_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Number in Household not updated</defaultConnectorLabel>
        <rules>
            <name>Number_in_Household_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.HouseholdSize__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.HouseholdSize__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Number_in_Household_value_on_contact</targetReference>
            </connector>
            <label>Number in Household updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Open_Client_Case</name>
        <label>Is Open Client Case</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Is Closed</defaultConnectorLabel>
        <rules>
            <name>Is_Open</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.ClientCaseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Id_on_contact</targetReference>
            </connector>
            <label>Is Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Race_Updated</name>
        <label>Is Race Updated</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Is_Ethnicity_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Race not Updated</defaultConnectorLabel>
        <rules>
            <name>Race_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.Race__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.Race__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Race_value_on_Contact</targetReference>
            </connector>
            <label>Race Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rural_Status_Household_updated</name>
        <label>Is Rural Status (Household) updated?</label>
        <locationX>182</locationX>
        <locationY>2450</locationY>
        <defaultConnector>
            <targetReference>Is_English_Proficiency_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rural Status not updated</defaultConnectorLabel>
        <rules>
            <name>Rural_Status_Household_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.RuralAreaStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.RuralAreaStatus__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rural_Status_Household_value_on_contact</targetReference>
            </connector>
            <label>Rural Status updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Total_Monthly_Income_updated</name>
        <label>Is Total Monthly Income updated?</label>
        <locationX>182</locationX>
        <locationY>4250</locationY>
        <defaultConnector>
            <targetReference>Has_Street_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current Residence not updated</defaultConnectorLabel>
        <rules>
            <name>Total_Monthly_Income_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCase.MonthlyIncome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCasePrior.MonthlyIncome__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Total_Monthly_Income_on_Contact</targetReference>
            </connector>
            <label>Total Monthly Income updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Veteran_updated</name>
        <label>Is Veteran updated?</label>
        <locationX>182</locationX>
        <locationY>3350</locationY>
        <defaultConnector>
            <targetReference>Is_1st_Time_Home_Buyer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Veteran not updated</defaultConnectorLabel>
        <rules>
            <name>Veteran_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ClientCasePrior.Veteran__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ClientCase.Veteran__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Veteran_value_on_contact</targetReference>
            </connector>
            <label>Veteran updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Demographics on Primary Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Update Demographics on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>182</locationX>
        <locationY>7850</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>varR_ContactToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Open_Client_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>490</locationX>
        <locationY>7958</locationY>
        <flowName>LoggerFlow</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>Subflow: Update Demographics on Contact</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varR_ClientCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientCase__c</objectType>
    </variables>
    <variables>
        <name>varR_ClientCasePrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientCase__c</objectType>
    </variables>
    <variables>
        <name>varR_ContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
